Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership

document auto encryption requirement for "IndexedEquality"
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

fix version requirements, add test for views
  source/crud/crud.rst
  source/crud/tests/unified/estimatedDocumentCount.json
  source/crud/tests/unified/estimatedDocumentCount.yml
  source/versioned-api/tests/crud-api-version-1-strict.json
  source/versioned-api/tests/crud-api-version-1-strict.yml
  source/versioned-api/tests/crud-api-version-1.json
  source/versioned-api/tests/crud-api-version-1.yml
Owners: @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-reviewers-unowned

DRIVERS-2249: Updated docs.mongodb.com to www.mongodb.com/docs.
  README.rst
  source/atlas-data-lake-testing/tests/README.rst
  source/benchmarking/benchmarking.rst
  source/change-streams/change-streams.rst
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
  source/compression/OP_COMPRESSED.rst
  source/connection-string/connection-string-spec.rst
  source/connections-survive-step-down/tests/README.rst
  source/crud/crud.rst
  source/crud/tests/README.rst
  source/crud/tests/v1/read/aggregate-collation.yml
  source/crud/tests/v1/read/count-collation.yml
  source/crud/tests/v1/read/distinct-collation.yml
  source/crud/tests/v1/read/find-collation.yml
  source/crud/tests/v1/write/bulkWrite-collation.yml
  source/crud/tests/v1/write/deleteMany-collation.yml
  source/crud/tests/v1/write/deleteOne-collation.yml
  source/crud/tests/v1/write/findOneAndDelete-collation.yml
  source/crud/tests/v1/write/findOneAndReplace-collation.yml
  source/crud/tests/v1/write/findOneAndUpdate-collation.yml
  source/crud/tests/v1/write/replaceOne-collation.yml
  source/crud/tests/v1/write/updateMany-collation.yml
  source/crud/tests/v1/write/updateOne-collation.yml
  source/dbref.rst
  source/enumerate-databases.rst
  source/extended-json.rst
  source/find_getmore_killcursors_commands.rst
  source/gridfs/gridfs-spec.rst
  source/index-management.rst
  source/mongodb-handshake/handshake.rst
  source/objectid.rst
  source/read-write-concern/read-write-concern.rst
  source/retryable-writes/retryable-writes.rst
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
  source/server-discovery-and-monitoring/server-monitoring.rst
  source/transactions-convenient-api/transactions-convenient-api.rst
  source/transactions/transactions.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format

remove extra comma from key2-document.json
  source/client-side-encryption/etc/data/keys/key2-document.json
Owners: @mongodb/dbx-spec-owners-fle

remove unnecessary encryptedFields.yml file
  source/client-side-encryption/etc/data/encryptedFields.yml
Owners: @mongodb/dbx-spec-owners-fle

update test template paths
  source/client-side-encryption/etc/test-templates/fle2-BypassQueryAnalysis.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Delete.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Unindexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-MissingKey.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
Owners: @mongodb/dbx-spec-owners-fle

do not run fle2 tests on standalone
  source/client-side-encryption/etc/test-templates/fle2-BypassQueryAnalysis.yml.template
  source/client-side-encryption/etc/test-templates/fle2-DecryptExistingData.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Delete.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFieldsMap-defaults.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Unindexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-MissingKey.yml.template
  source/client-side-encryption/etc/test-templates/fle2-NoEncryption.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.json
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.yml
  source/client-side-encryption/tests/fle2-DecryptExistingData.json
  source/client-side-encryption/tests/fle2-DecryptExistingData.yml
  source/client-side-encryption/tests/fle2-Delete.json
  source/client-side-encryption/tests/fle2-Delete.yml
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-EncryptedFieldsMap.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/fle2-EncryptedFieldsMap-defaults.json
  source/client-side-encryption/tests/fle2-EncryptedFieldsMap-defaults.yml
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/fle2-InsertFind-Unindexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Unindexed.yml
  source/client-side-encryption/tests/fle2-MissingKey.json
  source/client-side-encryption/tests/fle2-MissingKey.yml
  source/client-side-encryption/tests/fle2-NoEncryption.json
  source/client-side-encryption/tests/fle2-NoEncryption.yml
  source/client-side-encryption/tests/fle2-Update.json
  source/client-side-encryption/tests/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

Update source/auth/auth.rst
  source/auth/auth.rst
Owners: @mongodb/dbx-spec-owners-auth

Fix RST formatting in auth spec (#1197)
  source/auth/auth.rst
Owners: @mongodb/dbx-spec-owners-auth

fix oversight version
  source/crud/crud.rst
Owners: @mongodb/dbx-spec-owners-crud

update Last Modified, Version, and Changelog
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

bump schema version of estimated document count tests
  source/crud/tests/unified/estimatedDocumentCount.json
  source/crud/tests/unified/estimatedDocumentCount.yml
Owners: @mongodb/dbx-spec-owners-crud

remove vague recommendation on contentionFactor
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

update case 2 to insert 10 documents
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

replace IndexedEquality with Indexed
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

replace QueryTypeEquality with Equality
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

fix casing of "Unindexed"
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2284 fix command_started_event field names
  source/client-side-encryption/tests/fle2-CreateCollection.json
  source/client-side-encryption/tests/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2284 fix command_started_event field names (#1203)
  source/client-side-encryption/tests/fle2-CreateCollection.json
  source/client-side-encryption/tests/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

use createCollection operation, only run view test on 3.4.0+
  source/crud/tests/unified/estimatedDocumentCount.json
  source/crud/tests/unified/estimatedDocumentCount.yml
Owners: @mongodb/dbx-spec-owners-crud

DRIVERS-2249: Updated docs.mongodb.com to www.mongodb.com/docs. (#1201)
  README.rst
  source/atlas-data-lake-testing/tests/README.rst
  source/benchmarking/benchmarking.rst
  source/change-streams/change-streams.rst
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
  source/compression/OP_COMPRESSED.rst
  source/connection-string/connection-string-spec.rst
  source/connections-survive-step-down/tests/README.rst
  source/crud/crud.rst
  source/crud/tests/README.rst
  source/crud/tests/v1/read/aggregate-collation.yml
  source/crud/tests/v1/read/count-collation.yml
  source/crud/tests/v1/read/distinct-collation.yml
  source/crud/tests/v1/read/find-collation.yml
  source/crud/tests/v1/write/bulkWrite-collation.yml
  source/crud/tests/v1/write/deleteMany-collation.yml
  source/crud/tests/v1/write/deleteOne-collation.yml
  source/crud/tests/v1/write/findOneAndDelete-collation.yml
  source/crud/tests/v1/write/findOneAndReplace-collation.yml
  source/crud/tests/v1/write/findOneAndUpdate-collation.yml
  source/crud/tests/v1/write/replaceOne-collation.yml
  source/crud/tests/v1/write/updateMany-collation.yml
  source/crud/tests/v1/write/updateOne-collation.yml
  source/dbref.rst
  source/enumerate-databases.rst
  source/extended-json.rst
  source/find_getmore_killcursors_commands.rst
  source/gridfs/gridfs-spec.rst
  source/index-management.rst
  source/mongodb-handshake/handshake.rst
  source/objectid.rst
  source/read-write-concern/read-write-concern.rst
  source/retryable-writes/retryable-writes.rst
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
  source/server-discovery-and-monitoring/server-monitoring.rst
  source/transactions-convenient-api/transactions-convenient-api.rst
  source/transactions/transactions.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2228 Fix runOnRequirements for `estimatedDocumentCount` stable API tests, add test for views (#1202)
  source/crud/crud.rst
  source/crud/tests/unified/estimatedDocumentCount.json
  source/crud/tests/unified/estimatedDocumentCount.yml
  source/versioned-api/tests/crud-api-version-1-strict.json
  source/versioned-api/tests/crud-api-version-1-strict.yml
  source/versioned-api/tests/crud-api-version-1.json
  source/versioned-api/tests/crud-api-version-1.yml
Owners: @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-reviewers-unowned

Spell
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

remove QueryType prefix from enum
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2310 Include encryptFields in expected FLE2 test command
  source/client-side-encryption/tests/fle2-CreateCollection.json
  source/client-side-encryption/tests/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

add encryptedFields to commandStarted expectations
  source/client-side-encryption/tests/fle2-CreateCollection.json
  source/client-side-encryption/tests/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

fixup: undo original change
  source/client-side-encryption/tests/fle2-CreateCollection.json
  source/client-side-encryption/tests/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2310 Include encryptFields in expected FLE2 test command (#1205)
  source/client-side-encryption/tests/fle2-CreateCollection.json
  source/client-side-encryption/tests/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2294 Add createCollection and collMod tests for CS images
  source/collection-management/tests/pre_and_post_images-collection.json
  source/collection-management/tests/pre_and_post_images-collection.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Remove outdated statement on schema version
  source/collection-management/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

Jeremy comments
  source/collection-management/tests/pre_and_post_images-collection.json
  source/collection-management/tests/pre_and_post_images-collection.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

replace IndexedEquality with Indexed
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix typo overriden->overridden
  source/client-side-operations-timeout/etc/templates/override-collection-timeoutMS.yml.template
  source/client-side-operations-timeout/etc/templates/override-database-timeoutMS.yml.template
  source/client-side-operations-timeout/etc/templates/override-operation-timeoutMS.yml.template
  source/client-side-operations-timeout/tests/convenient-transactions.json
  source/client-side-operations-timeout/tests/convenient-transactions.yml
  source/client-side-operations-timeout/tests/gridfs-advanced.json
  source/client-side-operations-timeout/tests/gridfs-advanced.yml
  source/client-side-operations-timeout/tests/gridfs-find.json
  source/client-side-operations-timeout/tests/gridfs-find.yml
  source/client-side-operations-timeout/tests/override-collection-timeoutMS.json
  source/client-side-operations-timeout/tests/override-collection-timeoutMS.yml
  source/client-side-operations-timeout/tests/override-database-timeoutMS.json
  source/client-side-operations-timeout/tests/override-database-timeoutMS.yml
  source/client-side-operations-timeout/tests/override-operation-timeoutMS.json
  source/client-side-operations-timeout/tests/override-operation-timeoutMS.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Separate coll read/write ops
  source/client-side-operations-timeout/etc/generate-basic-tests.py
Owners: @mongodb/dbx-spec-reviewers-unowned

Note use of mongodl to obtain the csfle library
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Make it clear that --out is a path param
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Add CSOT to unified test format makefile
  source/unified-test-format/tests/Makefile
Owners: @mongodb/dbx-spec-owners-unified-test-format

Fix unified test format errors: use createOptions, fix expectError for IndexNotFound
  source/client-side-operations-timeout/etc/templates/override-operation-timeoutMS.yml.template
  source/client-side-operations-timeout/tests/override-operation-timeoutMS.json
  source/client-side-operations-timeout/tests/override-operation-timeoutMS.yml
  source/client-side-operations-timeout/tests/tailable-awaitData.json
  source/client-side-operations-timeout/tests/tailable-awaitData.yml
  source/client-side-operations-timeout/tests/tailable-non-awaitData.json
  source/client-side-operations-timeout/tests/tailable-non-awaitData.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Bump schemaVersion to 1.9 for override-operation-timeoutMS.yml
  source/client-side-operations-timeout/etc/templates/override-operation-timeoutMS.yml.template
  source/client-side-operations-timeout/tests/override-operation-timeoutMS.json
  source/client-side-operations-timeout/tests/override-operation-timeoutMS.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Split tests into two files
  source/collection-management/tests/createCollection-pre_and_post_images.json
  source/collection-management/tests/createCollection-pre_and_post_images.yml
  source/collection-management/tests/modifyCollection-pre_and_post_images.json
  source/collection-management/tests/modifyCollection-pre_and_post_images.yml
Owners: @mongodb/dbx-spec-reviewers-unowned
