Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

Use current createDataKey() function name instead of to-be-proposed createKey()
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Move new legacy CSE tests into legacy subdirectory
  source/client-side-encryption/tests/legacy/fle2-BypassQueryAnalysis.json
  source/client-side-encryption/tests/legacy/fle2-BypassQueryAnalysis.yml
  source/client-side-encryption/tests/legacy/fle2-DecryptExistingData.json
  source/client-side-encryption/tests/legacy/fle2-DecryptExistingData.yml
  source/client-side-encryption/tests/legacy/fle2-Delete.json
  source/client-side-encryption/tests/legacy/fle2-Delete.yml
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-EncryptedFieldsMap.json
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/legacy/fle2-EncryptedFieldsMap-defaults.json
  source/client-side-encryption/tests/legacy/fle2-EncryptedFieldsMap-defaults.yml
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Unindexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Unindexed.yml
  source/client-side-encryption/tests/legacy/fle2-MissingKey.json
  source/client-side-encryption/tests/legacy/fle2-MissingKey.yml
  source/client-side-encryption/tests/legacy/fle2-NoEncryption.json
  source/client-side-encryption/tests/legacy/fle2-NoEncryption.yml
  source/client-side-encryption/tests/legacy/fle2-Update.json
  source/client-side-encryption/tests/legacy/fle2-Update.yml
  source/client-side-encryption/tests/legacy/timeoutMS.json
  source/client-side-encryption/tests/legacy/timeoutMS.yml
Owners: @mongodb/dbx-spec-owners-fle

Use 6.0.0-rc4 in `csfle` download example (#1212)
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Add serverless: forbid for collection management tests
  source/collection-management/tests/clustered-indexes.json
  source/collection-management/tests/clustered-indexes.yml
  source/collection-management/tests/createCollection-pre_and_post_images.json
  source/collection-management/tests/createCollection-pre_and_post_images.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Update schemaVersion to 1.4
  source/collection-management/tests/clustered-indexes.json
  source/collection-management/tests/clustered-indexes.yml
  source/collection-management/tests/createCollection-pre_and_post_images.json
  source/collection-management/tests/createCollection-pre_and_post_images.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

one more test
  source/collection-management/tests/modifyCollection-pre_and_post_images.json
  source/collection-management/tests/modifyCollection-pre_and_post_images.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Bump schemaVersion
  source/collection-management/tests/modifyCollection-pre_and_post_images.json
  source/collection-management/tests/modifyCollection-pre_and_post_images.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Add serverless: forbid for collection management tests (#1216)
  source/collection-management/tests/clustered-indexes.json
  source/collection-management/tests/clustered-indexes.yml
  source/collection-management/tests/createCollection-pre_and_post_images.json
  source/collection-management/tests/createCollection-pre_and_post_images.yml
  source/collection-management/tests/modifyCollection-pre_and_post_images.json
  source/collection-management/tests/modifyCollection-pre_and_post_images.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Add prose test for custom key material
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Update last modified dates and patch version for spec files
  source/client-side-encryption/client-side-encryption.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-unified-test-format

Update source/change-streams/tests/unified/change-streams.yml
  source/change-streams/tests/unified/change-streams.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Add createKey function to spec for consistency with name of unified test operation
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2325: commandStartedEvent assertions for clusteredIndex tests
  source/collection-management/tests/clustered-indexes.json
  source/collection-management/tests/clustered-indexes.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Note that "namespace not found" errors must be ignored in Drop
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2302 add missing test setup step
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2302 add missing test setup step (#1218)
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Bump CSE spec version to 1.6.0
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Remove redundant in expected results
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-aws.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-aws.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-azure.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-azure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-gcp.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-kmip.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-local.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-local.yml
Owners: @mongodb/dbx-spec-owners-fle

Use generic names for database and collection
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.yml
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.yml
  source/client-side-encryption/tests/unified/createKey-provider-aws.yml
  source/client-side-encryption/tests/unified/createKey-provider-azure.yml
  source/client-side-encryption/tests/unified/createKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/createKey-provider-invalid.yml
  source/client-side-encryption/tests/unified/createKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/createKey-provider-local.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-decrypt_failure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-encrypt_failure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-aws.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-azure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-local.yml
Owners: @mongodb/dbx-spec-owners-fle

Remove quotes around base64 values for consistency
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.yml
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-decrypt_failure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-encrypt_failure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-aws.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-azure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-local.yml
Owners: @mongodb/dbx-spec-owners-fle

Add reference to CRUD spec in description of bulkWriteResult
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Add newline after heading for consistency
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Include "alias" in description of createDataKey
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Add paragraph break to CSE tests introduction
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix specification of keyVaultClient option for ClientEncryption object creation
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2322 Restrict most unified change streams tests to only run against replicasets (#1210)
  source/change-streams/tests/unified/change-streams.json
  source/change-streams/tests/unified/change-streams.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Remove unnecessary initialData in invalid_length test
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.yml
  source/client-side-encryption/tests/unified/createKey-provider-invalid.json
  source/client-side-encryption/tests/unified/createKey-provider-invalid.yml
Owners: @mongodb/dbx-spec-owners-fle

Remove unused observeEvents
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.yml
Owners: @mongodb/dbx-spec-owners-fle

Remove unnecessary "id" field in result of createKey tests
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.yml
  source/client-side-encryption/tests/unified/createKey-provider-aws.json
  source/client-side-encryption/tests/unified/createKey-provider-aws.yml
  source/client-side-encryption/tests/unified/createKey-provider-azure.json
  source/client-side-encryption/tests/unified/createKey-provider-azure.yml
  source/client-side-encryption/tests/unified/createKey-provider-gcp.json
  source/client-side-encryption/tests/unified/createKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/createKey-provider-kmip.json
  source/client-side-encryption/tests/unified/createKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/createKey-provider-local.json
  source/client-side-encryption/tests/unified/createKey-provider-local.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2325: commandStartedEvent assertions for clusteredIndex tests (#1217)
  source/collection-management/tests/clustered-indexes.json
  source/collection-management/tests/clustered-indexes.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Merge rewrapManyDataKey tests under single kms_providers test file
  source/client-side-encryption/tests/unified/rewrapManyDataKey-kms_providers.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-kms_providers.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-aws.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-aws.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-azure.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-azure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-gcp.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-kmip.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-local.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-local.yml
Owners: @mongodb/dbx-spec-owners-fle

Fix formatting of expectResult
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.yml
Owners: @mongodb/dbx-spec-owners-fle

Correctly assert command events do not occur
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.yml
  source/client-side-encryption/tests/unified/createKey-provider-invalid.json
  source/client-side-encryption/tests/unified/createKey-provider-invalid.yml
Owners: @mongodb/dbx-spec-owners-fle

Merge createKey tests under single kms_providers test file
  source/client-side-encryption/tests/unified/createKey-kms_providers.json
  source/client-side-encryption/tests/unified/createKey-kms_providers.yml
  source/client-side-encryption/tests/unified/createKey-provider-aws.json
  source/client-side-encryption/tests/unified/createKey-provider-aws.yml
  source/client-side-encryption/tests/unified/createKey-provider-azure.json
  source/client-side-encryption/tests/unified/createKey-provider-azure.yml
  source/client-side-encryption/tests/unified/createKey-provider-gcp.json
  source/client-side-encryption/tests/unified/createKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/createKey-provider-kmip.json
  source/client-side-encryption/tests/unified/createKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/createKey-provider-local.json
  source/client-side-encryption/tests/unified/createKey-provider-local.yml
Owners: @mongodb/dbx-spec-owners-fle

Rename provider-invalid to kms_providers-invalid for consistency
  source/client-side-encryption/tests/unified/createKey-kms_providers-invalid.json
  source/client-side-encryption/tests/unified/createKey-kms_providers-invalid.yml
Owners: @mongodb/dbx-spec-owners-fle

Number prose tests in CSE spec
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Clarify prose test spec to use majority write concern
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2326 Update FLE 2 Collection Management (#1215)
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/fle2-CreateCollection.json
  source/client-side-encryption/tests/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

Convert exact expectEvents to filtered find and aggregate expectResult checks
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.yml
  source/client-side-encryption/tests/unified/createKey-kms_providers.json
  source/client-side-encryption/tests/unified/createKey-kms_providers.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-kms_providers.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-kms_providers.yml
Owners: @mongodb/dbx-spec-owners-fle

Merge kms_providers and filter tests into single test file
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership
