Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

Update changelog
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Update minimum server versions & clarify abstract (#1245)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Adding "comment" option CRUD tests for distinct helper.
  source/crud/tests/unified/distinct-comment.json
  source/crud/tests/unified/distinct-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

Reference fix.
  source/crud/tests/unified/distinct-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

Update source/crud/tests/unified/distinct-comment.yml
  source/crud/tests/unified/distinct-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

Update source/crud/tests/unified/distinct-comment.yml
  source/crud/tests/unified/distinct-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

Updating json test after yml test was changed.
  source/crud/tests/unified/distinct-comment.json
Owners: @mongodb/dbx-spec-owners-crud

DRIVERS-2334: Add comment option tests for distinct helper (#1246)
  source/crud/tests/unified/distinct-comment.json
  source/crud/tests/unified/distinct-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

fix: add commandName to runCommand usage in tests
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

fix: move commandName property into arguments of runCommand
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-2204: Move driver sessions prose tests to test README
  source/sessions/driver-sessions.rst
  source/sessions/tests/README.rst
Owners: @mongodb/dbx-spec-owners-sessions

add test "Case 6: IndexKeyId works"
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2348 add IndexKeyId
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Reduce expected removeKeyAltName operations to a single findOneAndUpdate
  source/client-side-encryption/tests/unified/removeKeyAltName.json
  source/client-side-encryption/tests/unified/removeKeyAltName.yml
Owners: @mongodb/dbx-spec-owners-fle

fix(DRIVERS-1975): add commandName to runCommand usage in tests (#1247)
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-2356 Reduce expected removeKeyAltName operations to a single findOneAndUpdate (#1250)
  source/client-side-encryption/tests/unified/removeKeyAltName.json
  source/client-side-encryption/tests/unified/removeKeyAltName.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVER-2017 relax multi/upsert expectations
  source/client-side-encryption/tests/unified/rewrapManyDataKey.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVER-2017 relax multi/upsert expectations (#1251)
  source/client-side-encryption/tests/unified/rewrapManyDataKey.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2352 use a string for QueryType
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2350 add Decryption Events prose tests (#1243)
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Clarify description of date fields of key documents
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Clarify description of date fields of key documents (#1253)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2359 Require server 4.2+ for `csfle: true`
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Fix reference to UUID spec in CSE spec
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix reference to UUID spec in CSE spec (#1255)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2360 Add assertions that addKeyAltName() added keyAltName without failure
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

clarify that server supports CSFLE if it is 4.2.0 or higher
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2360 Add assertions that addKeyAltName() added keyAltName without failure (#1256)
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2359 Require server 4.2+ for `csfle: true` (#1254)
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2279 Don't use explicit session in dirty implicit session test (#1181)
  source/sessions/tests/driver-sessions-dirty-session-errors.json
  source/sessions/tests/driver-sessions-dirty-session-errors.yml
Owners: @mongodb/dbx-spec-owners-sessions

DRIVERS-2350 clarify that an empty pipeline is used
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

format CommandStartedEvent, CommandFailedEvent, and CommandSucceededEvent
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

replace CommandStartedEvent with CommandSucceededEvent
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2350 clarify prose test 14 (#1257)
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2352 use a string for QueryType (#1252)
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2204: Move driver sessions prose tests to test README (#1248)
  source/sessions/driver-sessions.rst
  source/sessions/tests/README.rst
Owners: @mongodb/dbx-spec-owners-sessions

DRIVERS-2350 fix setup for Decryption Events tests
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2350 fix setup for Decryption Events tests (#1258)
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

New on-demand credential loading for AWS in CSE
  source/auth/auth.rst
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-fle

DRIVERS-2367 Allow RewrapManyDataKeyresult.bulkWriteResult to be optional
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/unified/rewrapManyDataKey.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership
