Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

remove mention of document sequences in replies
  source/command-monitoring/command-monitoring.rst
Owners: @mongodb/dbx-spec-owners-apm

document sequences are only in commands, not replies
  source/command-monitoring/command-monitoring.rst
Owners: @mongodb/dbx-spec-owners-apm

DRIVERS-2431 Forbid Serverless in Change Stream Disambiguated Unified Spec Tests
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.json
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.yml
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-2432 move around the serverless mapping
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.json
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.yml
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-2432 remove quotes from forbid
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.yml
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-2431 bump schema version
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Revert "DRIVERS-2431 bump schema version"
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.yml
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-2431 bump schema version to 1.4
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.json
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Fix event ordering. Don't call standalone tests.
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.json
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

DRIVERS-2431 Forbid Serverless in Change Stream Disambiguated Unified… (#1301)
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.json
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.yml
Owners: @mongodb/dbx-spec-owners-change-streams

FLE - maxWireVersion should run on Mongo Server 4.0.x
  source/client-side-encryption/tests/legacy/maxWireVersion.json
  source/client-side-encryption/tests/legacy/maxWireVersion.yml
Owners: @mongodb/dbx-spec-owners-fle

remove newlines
  source/client-side-encryption/tests/legacy/maxWireVersion.json
  source/client-side-encryption/tests/legacy/maxWireVersion.yml
Owners: @mongodb/dbx-spec-owners-fle

add newline in json file
  source/client-side-encryption/tests/legacy/maxWireVersion.json
Owners: @mongodb/dbx-spec-owners-fle

Remove MongoDB < 3.6 information and front matter from command monitoring spec (#1300)
  source/command-monitoring/command-monitoring.rst
Owners: @mongodb/dbx-spec-owners-apm

fix the template
  source/client-side-encryption/etc/test-templates/maxWireVersion.yml.template
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2408 error if RewrapManyDataKey is called with libmongocrypt < 1.5.2 (#1288)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2433 FLE - maxWireVersion should run on Mongo Server 4.0.x (#1302)
  source/client-side-encryption/etc/test-templates/maxWireVersion.yml.template
  source/client-side-encryption/tests/legacy/maxWireVersion.json
  source/client-side-encryption/tests/legacy/maxWireVersion.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2327: limit prose test to server versions 4.4+
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

Update source/retryable-writes/tests/README.rst
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

Code review.
  source/connection-monitoring-and-pooling/connection-monitoring-and-pooling.rst
  source/connection-monitoring-and-pooling/tests/README.rst
  source/connection-monitoring-and-pooling/tests/pool-clear-close-in-use.json
  source/connection-monitoring-and-pooling/tests/pool-clear-close-in-use.yml
  source/connection-monitoring-and-pooling/tests/pool-clear-closing-pending-connections.json
  source/connection-monitoring-and-pooling/tests/pool-clear-closing-pending-connections.yml
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run-closeInUseConnections-false.json
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run-closeInUseConnections-false.yml
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run.json
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run.yml
  source/server-discovery-and-monitoring/server-monitoring.rst
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.json
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
  source/unified-test-format/schema-1.11.json
  source/unified-test-format/tests/invalid/expectedCmapEvent-poolClearedEvent-closeInUseConnections-type.json
  source/unified-test-format/tests/invalid/expectedCmapEvent-poolClearedEvent-closeInUseConnections-type.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-unified-test-format

Rename tests.
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run-interruptInUseConnections-false.json
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run-interruptInUseConnections-false.yml
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.json
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.yml
  source/unified-test-format/tests/invalid/expectedCmapEvent-poolClearedEvent-interruptInUseConnections-type.json
  source/unified-test-format/tests/invalid/expectedCmapEvent-poolClearedEvent-interruptInUseConnections-type.yml
Owners: @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-unified-test-format

Rename tests.
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupt-in-use.json
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupt-in-use.yml
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupting-pending-connections.json
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupting-pending-connections.yml
Owners: @mongodb/dbx-spec-owners-cmap

Renaming
  source/connection-monitoring-and-pooling/connection-monitoring-and-pooling.rst
Owners: @mongodb/dbx-spec-owners-cmap

Define "interrupt" meaning.
  source/connection-monitoring-and-pooling/connection-monitoring-and-pooling.rst
Owners: @mongodb/dbx-spec-owners-cmap

Cherrypick origin changes.
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-unified-test-format

Formatting.
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

Fix typo.
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

add Client Side Encryption to serverless tests
  source/serverless-testing/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

DRIVERS-2327: limit prose test to server versions 6.0+ (#1304)
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-1954 Fix hello->helloOk typo + regenerate all json tests
  source/crud/tests/unified/distinct-comment.json
  source/server-discovery-and-monitoring/tests/rs/set_version_can_rollback.yml
Owners: @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-sdam

DRIVERS-1954 Fix hello->helloOk typo + regenerate all json tests (#1306)
  source/crud/tests/unified/distinct-comment.json
  source/server-discovery-and-monitoring/tests/rs/set_version_can_rollback.yml
Owners: @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-sdam

DRIVERS-2443 Add serverless: forbid to change stream clusterTime test
  source/change-streams/tests/unified/change-streams-clusterTime.json
  source/change-streams/tests/unified/change-streams-clusterTime.yml
Owners: @mongodb/dbx-spec-owners-change-streams

fix schema, update showExpandedEvents
  source/change-streams/tests/unified/change-streams-clusterTime.json
  source/change-streams/tests/unified/change-streams-clusterTime.yml
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-2443 Add serverless: forbid to change stream clusterTime test (#1307)
  source/change-streams/tests/unified/change-streams-clusterTime.json
  source/change-streams/tests/unified/change-streams-clusterTime.yml
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

address comments on unified test format
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

use $$matchAsDocument for matching empty documents
  source/command-logging-and-monitoring/tests/logging/unified/redacted-commands.json
  source/command-logging-and-monitoring/tests/logging/unified/redacted-commands.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

make driverConnectionId optional and split out testing for it
  source/command-logging-and-monitoring/command-logging-and-monitoring.rst
  source/command-logging-and-monitoring/tests/logging/unified/driver-connection-id.json
  source/command-logging-and-monitoring/tests/logging/unified/driver-connection-id.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

clarify length in prose tests
  source/command-logging-and-monitoring/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

Apply suggestions from code review
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

MUST -> SHOULD for unstructured message forms; pull out common values across messages into a separate table
  source/command-logging-and-monitoring/command-logging-and-monitoring.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership
