Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership

minor fixups
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

update readme
  source/server-discovery-and-monitoring/tests/README.rst
Owners: @mongodb/dbx-spec-owners-sdam

fix json syntax
  source/unified-test-format/schema-1.10.json
Owners: @mongodb/dbx-spec-owners-unified-test-format

[DRIVERS-2280] New on-demand credential loading for AWS in CSE (#1260)
  source/auth/auth.rst
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-fle

Remove unnecessary commented-out spec test operations.
  source/server-discovery-and-monitoring/tests/integration/hello-command-error.yml
  source/server-discovery-and-monitoring/tests/integration/hello-network-error.yml
  source/server-discovery-and-monitoring/tests/integration/hello-timeout.yml
Owners: @mongodb/dbx-spec-owners-sdam

DRIVERS-2386 Improve reliability of SDAM heartbeat error spec tests. (#1272)
  source/server-discovery-and-monitoring/tests/integration/hello-command-error.json
  source/server-discovery-and-monitoring/tests/integration/hello-command-error.yml
  source/server-discovery-and-monitoring/tests/integration/hello-network-error.json
  source/server-discovery-and-monitoring/tests/integration/hello-network-error.yml
  source/server-discovery-and-monitoring/tests/integration/hello-timeout.json
  source/server-discovery-and-monitoring/tests/integration/hello-timeout.yml
Owners: @mongodb/dbx-spec-owners-sdam

DRIVERS-2355 Clarify that driver tests < 6.0 should use mongocryptd
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Clarify that unified test format supports ignoreExtraEvents (#1273)
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2355 Clarify that driver tests < 6.0 should use mongocryptd (#1275)
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2377 Support GCP attached service accounts when using GCP KMS
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2387 Skip StaleShardVersion resume test on 6.0+
  source/change-streams/tests/unified/change-streams-resume-errorLabels.json
  source/change-streams/tests/unified/change-streams-resume-errorLabels.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Skip on 6.1+
  source/change-streams/tests/unified/change-streams-resume-errorLabels.json
  source/change-streams/tests/unified/change-streams-resume-errorLabels.yml
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-2387 Skip StaleShardVersion resume test on >= 6.1 (#1276)
  source/change-streams/tests/unified/change-streams-resume-errorLabels.json
  source/change-streams/tests/unified/change-streams-resume-errorLabels.yml
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-2395: Add test that read is not retried in a transaction
  source/transactions/tests/unified/do-not-retry-read-in-transaction.json
  source/transactions/tests/unified/do-not-retry-read-in-transaction.yml
Owners: @mongodb/dbx-spec-owners-transactions

Updated tests
  source/transactions/tests/unified/do-not-retry-read-in-transaction.json
  source/transactions/tests/unified/do-not-retry-read-in-transaction.yml
Owners: @mongodb/dbx-spec-owners-transactions

Add error label assertion
  source/transactions/tests/unified/do-not-retry-read-in-transaction.json
  source/transactions/tests/unified/do-not-retry-read-in-transaction.yml
Owners: @mongodb/dbx-spec-owners-transactions

DRIVERS-2395: Add test that read is not retried in a transaction (#1277)
  source/transactions/tests/unified/do-not-retry-read-in-transaction.json
  source/transactions/tests/unified/do-not-retry-read-in-transaction.yml
Owners: @mongodb/dbx-spec-owners-transactions

DRIVERS-2395: Remove single topology
  source/transactions/tests/unified/do-not-retry-read-in-transaction.json
  source/transactions/tests/unified/do-not-retry-read-in-transaction.yml
Owners: @mongodb/dbx-spec-owners-transactions

fix grammer
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

note `MONGOCRYPT_CTX_NEED_KMS_CREDENTIALS` is entered
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

remove specific value for maxWriteBatchSize
  source/server_write_commands.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

DRIVERS-2398 add mongos limiting note
  source/sessions/tests/README.rst
Owners: @mongodb/dbx-spec-owners-sessions

Apply suggestions from code review
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

remove unneeded serverdescription fields
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

clarify waitForEvent
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

fix servertype link
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

add SDAM to expectedEventsForClient
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

clarify wait
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

add invalid tests
  source/unified-test-format/tests/invalid/entity-thread-additionalProperties.json
  source/unified-test-format/tests/invalid/entity-thread-additionalProperties.yml
  source/unified-test-format/tests/invalid/entity-thread-id-required.json
  source/unified-test-format/tests/invalid/entity-thread-id-required.yml
  source/unified-test-format/tests/invalid/entity-thread-id-type.json
  source/unified-test-format/tests/invalid/entity-thread-id-type.yml
  source/unified-test-format/tests/invalid/expectedSdamEvent-serverDescriptionChangedEvent-additionalProperties.json
  source/unified-test-format/tests/invalid/expectedSdamEvent-serverDescriptionChangedEvent-additionalProperties.yml
  source/unified-test-format/tests/invalid/expectedSdamEvent-serverDescriptionChangedEvent-serverDescription-additionalProperties.json
  source/unified-test-format/tests/invalid/expectedSdamEvent-serverDescriptionChangedEvent-serverDescription-additionalProperties.yml
  source/unified-test-format/tests/invalid/expectedSdamEvent-serverDescriptionChangedEvent-serverDescription-type-enum.json
  source/unified-test-format/tests/invalid/expectedSdamEvent-serverDescriptionChangedEvent-serverDescription-type-enum.yml
  source/unified-test-format/tests/invalid/expectedSdamEvent-serverDescriptionChangedEvent-serverDescription-type-type.json
  source/unified-test-format/tests/invalid/expectedSdamEvent-serverDescriptionChangedEvent-serverDescription-type-type.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2390 remove specific value for maxWriteBatchSize from write commands spec (#1279)
  source/server_write_commands.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

events in waitForEvent and assertEventCount SHOULD be in observeEvents
  source/server-discovery-and-monitoring/tests/unified/auth-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.json
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-error.json
  source/server-discovery-and-monitoring/tests/unified/find-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.json
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.yml
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.json
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.json
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.yml
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.json
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-unified-test-format

add missing "the"
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

add GCPKMSAccessToken interface
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

note that entity map needs to be concurrency safe
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

add 10 second timeout to waitForThread and waitForEvent
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

remove copypasta
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

remove TopologyDescription from common options
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2305: Note schema version bumps in spec change log
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2305: Note schema version bumps in spec change log (#1282)
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-555 Increase GridFS test timeouts and other fixes
  source/client-side-operations-timeout/tests/gridfs-advanced.json
  source/client-side-operations-timeout/tests/gridfs-advanced.yml
  source/client-side-operations-timeout/tests/gridfs-delete.json
  source/client-side-operations-timeout/tests/gridfs-delete.yml
  source/client-side-operations-timeout/tests/gridfs-download.json
  source/client-side-operations-timeout/tests/gridfs-download.yml
  source/client-side-operations-timeout/tests/gridfs-find.json
  source/client-side-operations-timeout/tests/gridfs-find.yml
  source/client-side-operations-timeout/tests/gridfs-upload.json
  source/client-side-operations-timeout/tests/gridfs-upload.yml
Owners: @mongodb/dbx-spec-reviewers-unowned
