Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership

Add entity-clientEncryption-clientEncryptionOpts-required invalid test
  source/unified-test-format/tests/invalid/entity-clientEncryption-clientEncryptionOpts-required.json
  source/unified-test-format/tests/invalid/entity-clientEncryption-clientEncryptionOpts-required.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Add context note to clientEncryptionOpts-tlsOptions_not_supported invalid test
  source/unified-test-format/tests/invalid/clientEncryptionOpts-tlsOptions_not_supported.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

fix wording
  source/crud/crud.rst
Owners: @mongodb/dbx-spec-owners-crud

link with contextual name
  source/crud/crud.rst
Owners: @mongodb/dbx-spec-owners-crud

DRIVER-2290 correct YAML ror
  source/crud/tests/unified/bulkWrite-comment.yml
  source/crud/tests/unified/deleteMany-comment.yml
  source/crud/tests/unified/deleteOne-comment.yml
  source/crud/tests/unified/insertMany-comment.yml
  source/crud/tests/unified/insertOne-comment.yml
  source/crud/tests/unified/replaceOne-comment.yml
  source/crud/tests/unified/updateMany-comment.yml
  source/crud/tests/unified/updateOne-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

DRIVERS-2290 Correct ROR in YML
  source/crud/tests/unified/bulkWrite-comment.yml
  source/crud/tests/unified/deleteMany-comment.yml
  source/crud/tests/unified/deleteOne-comment.yml
  source/crud/tests/unified/insertMany-comment.yml
  source/crud/tests/unified/insertOne-comment.yml
  source/crud/tests/unified/replaceOne-comment.yml
  source/crud/tests/unified/updateMany-comment.yml
  source/crud/tests/unified/updateOne-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

DRIVERS-2228 Revert to using the `count` command for `estimatedDocumentCount` (#1187)
  source/atlas-data-lake-testing/tests/estimatedDocumentCount.json
  source/atlas-data-lake-testing/tests/estimatedDocumentCount.yml
  source/crud/crud.rst
  source/crud/tests/unified/estimatedDocumentCount-comment.json
  source/crud/tests/unified/estimatedDocumentCount-comment.yml
  source/crud/tests/unified/estimatedDocumentCount.json
  source/crud/tests/unified/estimatedDocumentCount.yml
  source/retryable-reads/tests/legacy/estimatedDocumentCount-4.9.json
  source/retryable-reads/tests/legacy/estimatedDocumentCount-pre4.9.yml
  source/retryable-reads/tests/legacy/estimatedDocumentCount-serverErrors-4.9.json
  source/retryable-reads/tests/legacy/estimatedDocumentCount-serverErrors-pre4.9.yml
  source/retryable-reads/tests/legacy/estimatedDocumentCount-serverErrors.json
  source/retryable-reads/tests/legacy/estimatedDocumentCount-serverErrors.yml
  source/retryable-reads/tests/legacy/estimatedDocumentCount.json
  source/retryable-reads/tests/legacy/estimatedDocumentCount.yml
  source/versioned-api/tests/crud-api-version-1-strict.json
  source/versioned-api/tests/crud-api-version-1-strict.yml
  source/versioned-api/tests/crud-api-version-1.json
  source/versioned-api/tests/crud-api-version-1.yml
  source/wireversion-featurelist.rst
Owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability

DRIVERS-555 Merge outcomeCollectionData and initialCollectionData, make timeoutMS an integer, other fixes
  source/unified-test-format/schema-1.8.json
  source/unified-test-format/tests/invalid/collectionOrDatabaseOptions-timeoutMS-type.json
  source/unified-test-format/tests/invalid/collectionOrDatabaseOptions-timeoutMS-type.yml
  source/unified-test-format/tests/invalid/initialCollectionData-createOptions-type.json
  source/unified-test-format/tests/invalid/initialCollectionData-createOptions-type.yml
  source/unified-test-format/tests/valid-pass/createEntities-operation.yml
  source/unified-test-format/tests/valid-pass/entity-cursor-iterateOnce.yml
  source/unified-test-format/tests/valid-pass/initialCollectionData-createOptions.json
  source/unified-test-format/tests/valid-pass/initialCollectionData-createOptions.yml
  source/unified-test-format/tests/valid-pass/matches-lte-operator.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

test for server versions/topologies
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @mongodb/dbx-leadership

DRIVERS-555 bump 1.9
  source/unified-test-format/schema-1.9.json
  source/unified-test-format/tests/Makefile
  source/unified-test-format/tests/invalid/collectionOrDatabaseOptions-timeoutMS-type.json
  source/unified-test-format/tests/invalid/collectionOrDatabaseOptions-timeoutMS-type.yml
  source/unified-test-format/tests/invalid/expectedError-isTimeoutError-type.json
  source/unified-test-format/tests/invalid/expectedError-isTimeoutError-type.yml
  source/unified-test-format/tests/invalid/initialCollectionData-createOptions-type.json
  source/unified-test-format/tests/invalid/initialCollectionData-createOptions-type.yml
  source/unified-test-format/tests/valid-pass/createEntities-operation.json
  source/unified-test-format/tests/valid-pass/createEntities-operation.yml
  source/unified-test-format/tests/valid-pass/entity-cursor-iterateOnce.json
  source/unified-test-format/tests/valid-pass/entity-cursor-iterateOnce.yml
  source/unified-test-format/tests/valid-pass/initialCollectionData-createOptions.json
  source/unified-test-format/tests/valid-pass/initialCollectionData-createOptions.yml
  source/unified-test-format/tests/valid-pass/matches-lte-operator.json
  source/unified-test-format/tests/valid-pass/matches-lte-operator.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2188 Skip comment error test on sharded (#1192)
  source/crud/tests/unified/estimatedDocumentCount-comment.json
  source/crud/tests/unified/estimatedDocumentCount-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

add encrypted_fields to CSFLE test README
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

update generate-test.py to add "yamlfile" function.
  source/client-side-encryption/etc/generate-test.py
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-1853 Add tests and update spec to support API changes for clustered collections (#1182)
  source/collection-management/tests/clustered-indexes.json
  source/collection-management/tests/clustered-indexes.yml
  source/index-management.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

add test data
  source/client-side-encryption/etc/data/encryptedFields.json
  source/client-side-encryption/etc/data/encryptedFields.yml
  source/client-side-encryption/etc/data/keys/key1-document.json
  source/client-side-encryption/etc/data/keys/key1-id.json
  source/client-side-encryption/etc/data/keys/key2-document.json
  source/client-side-encryption/etc/data/keys/key2-id.json
Owners: @mongodb/dbx-spec-owners-fle

generate fle2 test .yml and .json
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.json
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.yml
  source/client-side-encryption/tests/fle2-DecryptExistingData.json
  source/client-side-encryption/tests/fle2-DecryptExistingData.yml
  source/client-side-encryption/tests/fle2-Delete.json
  source/client-side-encryption/tests/fle2-Delete.yml
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-EncryptedFieldsMap.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/fle2-EncryptedFieldsMap-defaults.json
  source/client-side-encryption/tests/fle2-EncryptedFieldsMap-defaults.yml
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/fle2-InsertFind-Unindexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Unindexed.yml
  source/client-side-encryption/tests/fle2-MissingKey.json
  source/client-side-encryption/tests/fle2-MissingKey.yml
  source/client-side-encryption/tests/fle2-NoEncryption.json
  source/client-side-encryption/tests/fle2-NoEncryption.yml
  source/client-side-encryption/tests/fle2-Update.json
  source/client-side-encryption/tests/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

add bypassQueryAnalysis option
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

add fle2 tests
  source/client-side-encryption/etc/test-templates/fle2-BypassQueryAnalysis.yml.template
  source/client-side-encryption/etc/test-templates/fle2-DecryptExistingData.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Delete.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFieldsMap-defaults.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Unindexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-MissingKey.yml.template
  source/client-side-encryption/etc/test-templates/fle2-NoEncryption.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
Owners: @mongodb/dbx-spec-owners-fle

Fix test name for runOnRequirement-csfle-type
  source/unified-test-format/tests/invalid/runOnRequirement-csfle-type.json
  source/unified-test-format/tests/invalid/runOnRequirement-csfle-type.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Fix schema version for runOnRequirement-csfle-type
  source/unified-test-format/tests/invalid/runOnRequirement-csfle-type.json
  source/unified-test-format/tests/invalid/runOnRequirement-csfle-type.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Fix "runOnRequirements.csfle" -> "runOnRequirement.csfle" in changelog
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2017 Add "runOnRequirement.csfle" to permit skipping CSFLE tests (#1196)
  source/unified-test-format/schema-1.8.json
  source/unified-test-format/tests/invalid/runOnRequirement-csfle-type.json
  source/unified-test-format/tests/invalid/runOnRequirement-csfle-type.yml
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_aws_kms_credentials.json
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_aws_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_azure_kms_credentials.json
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_azure_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_gcp_kms_credentials.json
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_gcp_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/kmsProviders-no_kms.json
  source/unified-test-format/tests/valid-fail/kmsProviders-no_kms.yml
  source/unified-test-format/tests/valid-pass/kmsProviders-explicit_kms_credentials.json
  source/unified-test-format/tests/valid-pass/kmsProviders-explicit_kms_credentials.yml
  source/unified-test-format/tests/valid-pass/kmsProviders-mixed_kms_credential_fields.json
  source/unified-test-format/tests/valid-pass/kmsProviders-mixed_kms_credential_fields.yml
  source/unified-test-format/tests/valid-pass/kmsProviders-placeholder_kms_credentials.json
  source/unified-test-format/tests/valid-pass/kmsProviders-placeholder_kms_credentials.yml
  source/unified-test-format/tests/valid-pass/kmsProviders-unconfigured_kms.json
  source/unified-test-format/tests/valid-pass/kmsProviders-unconfigured_kms.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2290 Correct ROR in YML (#1194)
  source/crud/tests/unified/bulkWrite-comment.yml
  source/crud/tests/unified/deleteMany-comment.yml
  source/crud/tests/unified/deleteOne-comment.yml
  source/crud/tests/unified/insertMany-comment.yml
  source/crud/tests/unified/insertOne-comment.yml
  source/crud/tests/unified/replaceOne-comment.yml
  source/crud/tests/unified/updateMany-comment.yml
  source/crud/tests/unified/updateOne-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

DRIVERS-555 rename initialCollectionData -> collectionData
  source/unified-test-format/tests/invalid/collectionData-additionalProperties.json
  source/unified-test-format/tests/invalid/collectionData-additionalProperties.yml
  source/unified-test-format/tests/invalid/collectionData-collectionName-required.json
  source/unified-test-format/tests/invalid/collectionData-collectionName-required.yml
  source/unified-test-format/tests/invalid/collectionData-collectionName-type.json
  source/unified-test-format/tests/invalid/collectionData-collectionName-type.yml
  source/unified-test-format/tests/invalid/collectionData-createOptions-type.json
  source/unified-test-format/tests/invalid/collectionData-createOptions-type.yml
  source/unified-test-format/tests/invalid/collectionData-databaseName-required.json
  source/unified-test-format/tests/invalid/collectionData-databaseName-required.yml
  source/unified-test-format/tests/invalid/collectionData-databaseName-type.json
  source/unified-test-format/tests/invalid/collectionData-databaseName-type.yml
  source/unified-test-format/tests/invalid/collectionData-documents-items.json
  source/unified-test-format/tests/invalid/collectionData-documents-items.yml
  source/unified-test-format/tests/invalid/collectionData-documents-required.json
  source/unified-test-format/tests/invalid/collectionData-documents-required.yml
  source/unified-test-format/tests/invalid/collectionData-documents-type.json
  source/unified-test-format/tests/invalid/collectionData-documents-type.yml
  source/unified-test-format/tests/invalid/initialCollectionData-additionalProperties.yml
  source/unified-test-format/tests/invalid/initialCollectionData-collectionName-required.json
  source/unified-test-format/tests/invalid/initialCollectionData-collectionName-type.json
  source/unified-test-format/tests/invalid/initialCollectionData-collectionName-type.yml
  source/unified-test-format/tests/invalid/initialCollectionData-databaseName-type.json
  source/unified-test-format/tests/invalid/initialCollectionData-documents-required.json
  source/unified-test-format/tests/invalid/initialCollectionData-documents-required.yml
  source/unified-test-format/tests/invalid/initialCollectionData-documents-type.yml
  source/unified-test-format/tests/invalid/outcomeCollectionData-collectionName-required.json
  source/unified-test-format/tests/invalid/outcomeCollectionData-databaseName-required.json
  source/unified-test-format/tests/invalid/outcomeCollectionData-databaseName-required.yml
  source/unified-test-format/tests/invalid/outcomeCollectionData-databaseName-type.json
  source/unified-test-format/tests/invalid/outcomeCollectionData-documents-items.yml
  source/unified-test-format/tests/invalid/outcomeCollectionData-documents-required.yml
  source/unified-test-format/tests/invalid/outcomeCollectionData-documents-type.json
  source/unified-test-format/tests/invalid/outcomeCollectionData-documents-type.yml
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.json
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-555 Use anchors
  source/unified-test-format/tests/valid-pass/createEntities-operation.json
  source/unified-test-format/tests/valid-pass/createEntities-operation.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-555 Remove redundant createEntities and initialData
  source/unified-test-format/tests/valid-pass/createEntities-operation.json
  source/unified-test-format/tests/valid-pass/createEntities-operation.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-555 Unified test format changes for CSOT (#959)
  source/unified-test-format/schema-1.9.json
  source/unified-test-format/tests/Makefile
  source/unified-test-format/tests/invalid/collectionData-additionalProperties.yml
  source/unified-test-format/tests/invalid/collectionData-collectionName-required.json
  source/unified-test-format/tests/invalid/collectionData-collectionName-required.yml
  source/unified-test-format/tests/invalid/collectionData-collectionName-type.json
  source/unified-test-format/tests/invalid/collectionData-collectionName-type.yml
  source/unified-test-format/tests/invalid/collectionData-createOptions-type.json
  source/unified-test-format/tests/invalid/collectionData-createOptions-type.yml
  source/unified-test-format/tests/invalid/collectionData-databaseName-required.json
  source/unified-test-format/tests/invalid/collectionData-databaseName-type.json
  source/unified-test-format/tests/invalid/collectionData-databaseName-type.yml
  source/unified-test-format/tests/invalid/collectionData-documents-items.json
  source/unified-test-format/tests/invalid/collectionData-documents-items.yml
  source/unified-test-format/tests/invalid/collectionData-documents-required.json
  source/unified-test-format/tests/invalid/collectionData-documents-required.yml
  source/unified-test-format/tests/invalid/collectionData-documents-type.json
  source/unified-test-format/tests/invalid/collectionData-documents-type.yml
  source/unified-test-format/tests/invalid/collectionOrDatabaseOptions-timeoutMS-type.json
  source/unified-test-format/tests/invalid/collectionOrDatabaseOptions-timeoutMS-type.yml
  source/unified-test-format/tests/invalid/expectedError-isTimeoutError-type.json
  source/unified-test-format/tests/invalid/expectedError-isTimeoutError-type.yml
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.json
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.yml
  source/unified-test-format/tests/valid-pass/createEntities-operation.json
  source/unified-test-format/tests/valid-pass/createEntities-operation.yml
  source/unified-test-format/tests/valid-pass/entity-cursor-iterateOnce.json
  source/unified-test-format/tests/valid-pass/entity-cursor-iterateOnce.yml
  source/unified-test-format/tests/valid-pass/matches-lte-operator.json
  source/unified-test-format/tests/valid-pass/matches-lte-operator.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

fix unescaped lines that should be italicized. Tried to maintain the author's intention by bolding
  source/auth/auth.rst
Owners: @mongodb/dbx-spec-owners-auth

fix unescaped by adding a missing colon
  source/auth/auth.rst
Owners: @mongodb/dbx-spec-owners-auth

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @mongodb/dbx-leadership

Create Pull Request Template (#1189)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @mongodb/dbx-leadership

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @mongodb/dbx-leadership

change the preceding sentence
  source/auth/auth.rst
Owners: @mongodb/dbx-spec-owners-auth

add spaces to indent
  source/auth/auth.rst
Owners: @mongodb/dbx-spec-owners-auth

remove extra indentation for the bulleted list
  source/auth/auth.rst
Owners: @mongodb/dbx-spec-owners-auth

Clarifications on driver CSE testing with csfle
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

add Explicit Encryption prose tests
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

add FLE 2 algorithm values, contentionFactor, and queryType
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

add data files
  source/client-side-encryption/etc/data/encryptedFields.json
  source/client-side-encryption/etc/data/keys/key1-document.json
Owners: @mongodb/dbx-spec-owners-fle

update spec version and changelog
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle
