Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

changelog, dates
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

version
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

clean up comments
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

DRIVERS-2412: add pre 6.0 condition to stale primary logic (#1309)
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
  source/server-discovery-and-monitoring/tests/README.rst
  source/server-discovery-and-monitoring/tests/rs/electionId_precedence_setVersion.json
  source/server-discovery-and-monitoring/tests/rs/electionId_precedence_setVersion.yml
  source/server-discovery-and-monitoring/tests/rs/null_election_id-pre-6.0.json
  source/server-discovery-and-monitoring/tests/rs/null_election_id-pre-6.0.yml
  source/server-discovery-and-monitoring/tests/rs/null_election_id.json
  source/server-discovery-and-monitoring/tests/rs/secondary_ignore_ok_0-pre-6.0.json
  source/server-discovery-and-monitoring/tests/rs/secondary_ignore_ok_0-pre-6.0.yml
  source/server-discovery-and-monitoring/tests/rs/set_version_can_rollback.yml
  source/server-discovery-and-monitoring/tests/rs/setversion_equal_max_without_electionid.json
  source/server-discovery-and-monitoring/tests/rs/setversion_equal_max_without_electionid.yml
  source/server-discovery-and-monitoring/tests/rs/setversion_greaterthan_max_without_electionid.json
  source/server-discovery-and-monitoring/tests/rs/setversion_without_electionid-pre-6.0.json
  source/server-discovery-and-monitoring/tests/rs/setversion_without_electionid-pre-6.0.yml
  source/server-discovery-and-monitoring/tests/rs/use_setversion_without_electionid-pre-6.0.json
  source/server-discovery-and-monitoring/tests/rs/use_setversion_without_electionid-pre-6.0.yml
  source/server-discovery-and-monitoring/tests/rs/use_setversion_without_electionid.json
  source/server-discovery-and-monitoring/tests/rs/use_setversion_without_electionid.yml
Owners: @mongodb/dbx-spec-owners-sdam

DRIVERS-2412: fix pseudo code indentation
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

update command logging tests README
  source/command-logging-and-monitoring/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

reword
  source/command-logging-and-monitoring/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

DRIVERS-2412: fix updateRSFromPrimary pseudo code indentation (#1312)
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

DRIVERS-2253: Remove PR template reminder to bump spec version/lastmod
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @mongodb/dbx-leadership

Consistent references to "changelog" instead of "change log"
  source/initial-dns-seedlist-discovery/initial-dns-seedlist-discovery.rst
  source/max-staleness/max-staleness.rst
  source/polling-srv-records-for-mongos-discovery/polling-srv-records-for-mongos-discovery.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-unified-test-format

Revert min server version for listDatabases spec to 3.6
  source/enumerate-databases.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

Remove versionadded macros from CSFLE spec
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-555 Number CSOT prose tests and bump some timeouts.
  source/client-side-operations-timeout/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

Starting prose tests for IMDS
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

fix SDAM code formatting to get syntax highlighting
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

add : to code block intros
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

fix SDAM code formatting to get syntax highlighting (#1315)
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

DRIVERS-2333 Cache AWS Credentials Where Possible
  source/auth/auth.rst
  source/auth/tests/mongodb-aws.rst
Owners: @mongodb/dbx-spec-owners-auth

update changelog and version
  source/auth/auth.rst
Owners: @mongodb/dbx-spec-owners-auth

address review
  source/auth/auth.rst
  source/auth/tests/mongodb-aws.rst
Owners: @mongodb/dbx-spec-owners-auth

Add note about the five minute window
  source/auth/auth.rst
Owners: @mongodb/dbx-spec-owners-auth

Update to use 5 minutes and no background task
  source/auth/auth.rst
  source/auth/tests/mongodb-aws.rst
Owners: @mongodb/dbx-spec-owners-auth

update language to encourage SDK use
  source/auth/auth.rst
Owners: @mongodb/dbx-spec-owners-auth

address review
  source/auth/auth.rst
Owners: @mongodb/dbx-spec-owners-auth

DRIVERS-1807 Keep existing retry behavior unless CSOT is enabled
  source/client-side-operations-timeout/client-side-operations-timeout.rst
  source/retryable-writes/retryable-writes.rst
Owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-retryability

DRIVERS-1807 Update retryable-writes, remove sockettimeout error special case
  source/retryable-writes/retryable-writes.rst
Owners: @mongodb/dbx-spec-owners-retryability

make clear that drivers should do "naive" truncation of JSON, and add mention in rationale
  source/logging/logging.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

add a note about adjusting timeouts
  source/client-side-operations-timeout/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

address review
  source/auth/auth.rst
  source/auth/tests/mongodb-aws.rst
Owners: @mongodb/dbx-spec-owners-auth

drivers must match exact names/casing for structured log messages
  source/logging/logging.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

DRIVERS-2411 fix Azure IP address in instructions
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

events -> messages, clarify that messages MUST be an exact match
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Fix incorrect Azure resource URL in spec doc
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Specify a timeout on the IMDS HTTP request
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

update redacton rules and unifited format support for testing for redaction; update existing and add new redaction tests
  source/command-logging-and-monitoring/command-logging-and-monitoring.rst
  source/command-logging-and-monitoring/tests/logging/redacted-commands.json
  source/command-logging-and-monitoring/tests/logging/redacted-commands.yml
  source/unified-test-format/schema-1.12.json
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-requires-hasFailure-true.json
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-requires-hasFailure-true.yml
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-requires-hasFailure.json
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-requires-hasFailure.yml
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-type.json
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-type.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-unified-test-format

update failureIsRedacted language slightly
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

back to a single boolean; fix typos
  source/command-logging-and-monitoring/tests/logging/redacted-commands.json
  source/command-logging-and-monitoring/tests/logging/redacted-commands.yml
  source/logging/logging.rst
  source/unified-test-format/schema-1.12.json
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-requires-hasFailure-true.json
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-requires-hasFailure-true.yml
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-requires-hasFailure.json
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-requires-hasFailure.yml
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-type.json
  source/unified-test-format/tests/invalid/expectedLogMessage-failureIsRedacted-type.yml
  source/unified-test-format/tests/invalid/expectedLogMessage-hasFailure-type.json
  source/unified-test-format/tests/invalid/expectedLogMessage-hasFailure-type.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-unified-test-format

remove whitespace from test
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupt-immediately.json
Owners: @mongodb/dbx-spec-owners-cmap

minor: remove extra whitespace from CMAP test (#1319)
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupt-immediately.json
Owners: @mongodb/dbx-spec-owners-cmap

address jmikola comments
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership
