Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

add schema version change to changelog
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2403 add Rewrap prose test
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

add warning to documentation
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2403 Fix Azure and KMIP key material for RewrapManyDataKey
  source/client-side-encryption/tests/unified/rewrapManyDataKey.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

Fix test descriptions to match test file name
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.json
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-555 Skip GridFS tests on serverless, too slow
  source/client-side-operations-timeout/tests/gridfs-advanced.json
  source/client-side-operations-timeout/tests/gridfs-advanced.yml
  source/client-side-operations-timeout/tests/gridfs-delete.json
  source/client-side-operations-timeout/tests/gridfs-delete.yml
  source/client-side-operations-timeout/tests/gridfs-download.json
  source/client-side-operations-timeout/tests/gridfs-download.yml
  source/client-side-operations-timeout/tests/gridfs-find.json
  source/client-side-operations-timeout/tests/gridfs-find.yml
  source/client-side-operations-timeout/tests/gridfs-upload.json
  source/client-side-operations-timeout/tests/gridfs-upload.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

DRIVERS-2404 Fix Azure and KMIP key material for RewrapManyDataKey (#1285)
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.json
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-555 Increase GridFS test timeouts and other fixes for CSOT (#1283)
  source/client-side-operations-timeout/tests/gridfs-advanced.json
  source/client-side-operations-timeout/tests/gridfs-advanced.yml
  source/client-side-operations-timeout/tests/gridfs-delete.json
  source/client-side-operations-timeout/tests/gridfs-delete.yml
  source/client-side-operations-timeout/tests/gridfs-download.json
  source/client-side-operations-timeout/tests/gridfs-download.yml
  source/client-side-operations-timeout/tests/gridfs-find.json
  source/client-side-operations-timeout/tests/gridfs-find.yml
  source/client-side-operations-timeout/tests/gridfs-upload.json
  source/client-side-operations-timeout/tests/gridfs-upload.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

update changelog, last modified date, and version
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2407 update expected error message of fle2-InsertFind-Unindexed
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Unindexed.yml.template
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Unindexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Unindexed.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2408 error if RewrapManyDataKey is called with libmongocrypt < 1.5.2
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

update changelog, last modified date, and version
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2406 add Rewrap prose test (#1287)
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

remove 10 minute cursor timeout from GridFSFindOptions noCursorTimeout doc
  source/gridfs/gridfs-spec.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

DRIVERS-2407 update expected error in fle2-InsertFind-Unindexed (#1286)
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Unindexed.yml.template
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Unindexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Unindexed.yml
Owners: @mongodb/dbx-spec-owners-fle

clarify dependencies may need upgrade
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Add "If applicable"
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

use MUST, not SHOULD
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

specify versions 1.5.1 or 1.5.0 are only versions affected
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

include missing "that"
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

GODRIVER-2398 use MUST assertion for test requirement update
  source/sessions/tests/README.rst
Owners: @mongodb/dbx-spec-owners-sessions

fix typos
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

include warning about accessing non-concurrency safe entities
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

explicitly mention that operations start immediately in runOnThread
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

convert expectedEventsForClient to list
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

remove extra SD fields from schema
  source/unified-test-format/schema-1.10.json
Owners: @mongodb/dbx-spec-owners-unified-test-format

tests SHOULD contain waitForThread for each thread
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

use code formatting for operation names
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

fix typo
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

fix missing observeEvents
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.json
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.json
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.json
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.yml
Owners: @mongodb/dbx-spec-owners-sdam

skip serverless, explcitly choose topologies
  source/server-discovery-and-monitoring/tests/unified/auth-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.yml
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.yml
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.yml
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.yml
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.yml
Owners: @mongodb/dbx-spec-owners-sdam

Remove 10 minute cursorTimeout comment from GridFSFindOptions docs (#1289)
  source/gridfs/gridfs-spec.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

useMultipleMongoses: false on failpoint tests
  source/server-discovery-and-monitoring/tests/unified/auth-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.json
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.yml
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.json
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-error.json
  source/server-discovery-and-monitoring/tests/unified/find-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.json
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.json
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.yml
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.json
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.json
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.yml
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.json
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.yml
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.json
Owners: @mongodb/dbx-spec-owners-sdam

DRIVERS-2398 add mongos limiting note (#1280)
  source/sessions/tests/README.rst
Owners: @mongodb/dbx-spec-owners-sessions

DRIVERS-2377 Support GCP attached service accounts when using GCP KMS (#1278)
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2377 remove GCE_METADATA_HOST check
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2234 Run a ping after initializing a MongoClient in DNS seedlist tests.
  source/initial-dns-seedlist-discovery/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

remove appname usage
  source/command-monitoring/tests/logging/unified/command.json
  source/command-monitoring/tests/logging/unified/command.yml
  source/command-monitoring/tests/logging/unified/pre-42-server-connection-id.json
  source/command-monitoring/tests/logging/unified/pre-42-server-connection-id.yml
  source/command-monitoring/tests/logging/unified/redacted-commands.json
  source/command-monitoring/tests/logging/unified/redacted-commands.yml
  source/command-monitoring/tests/logging/unified/server-connection-id.json
  source/command-monitoring/tests/logging/unified/server-connection-id.yml
Owners: @mongodb/dbx-spec-owners-apm

reorganize files
  source/command-monitoring/tests/logging/test_runner_changes.md
  source/command-monitoring/tests/logging/unified/command-logging.json
  source/command-monitoring/tests/logging/unified/command-logging.yml
  source/command-monitoring/tests/logging/unified/test_runner_changes.md
  source/command-monitoring/tests/monitoring/unified/bulkWrite.json
  source/command-monitoring/tests/monitoring/unified/bulkWrite.yml
  source/command-monitoring/tests/monitoring/unified/command.json
  source/command-monitoring/tests/monitoring/unified/command.yml
  source/command-monitoring/tests/monitoring/unified/deleteMany.json
  source/command-monitoring/tests/monitoring/unified/deleteMany.yml
  source/command-monitoring/tests/monitoring/unified/deleteOne.json
  source/command-monitoring/tests/monitoring/unified/deleteOne.yml
  source/command-monitoring/tests/monitoring/unified/find.json
  source/command-monitoring/tests/monitoring/unified/find.yml
  source/command-monitoring/tests/monitoring/unified/insertMany.json
  source/command-monitoring/tests/monitoring/unified/insertMany.yml
  source/command-monitoring/tests/monitoring/unified/insertOne.json
  source/command-monitoring/tests/monitoring/unified/insertOne.yml
  source/command-monitoring/tests/monitoring/unified/pre-42-server-connection-id.json
  source/command-monitoring/tests/monitoring/unified/pre-42-server-connection-id.yml
  source/command-monitoring/tests/monitoring/unified/redacted-commands.json
  source/command-monitoring/tests/monitoring/unified/redacted-commands.yml
  source/command-monitoring/tests/monitoring/unified/server-connection-id.json
  source/command-monitoring/tests/monitoring/unified/server-connection-id.yml
  source/command-monitoring/tests/monitoring/unified/unacknowledgedBulkWrite.json
  source/command-monitoring/tests/monitoring/unified/unacknowledgedBulkWrite.yml
  source/command-monitoring/tests/monitoring/unified/updateMany.json
  source/command-monitoring/tests/monitoring/unified/updateMany.yml
  source/command-monitoring/tests/monitoring/unified/updateOne.json
  source/command-monitoring/tests/monitoring/unified/updateOne.yml
Owners: @mongodb/dbx-spec-owners-apm

reorg
  source/command-monitoring/tests/logging/unified/command-logging.json
  source/command-monitoring/tests/logging/unified/command-logging.yml
Owners: @mongodb/dbx-spec-owners-apm

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership
