Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership

DRIVERS-2417: Exclude create events from change stream when testing showExpandedEvents (#1293)
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Update source/initial-dns-seedlist-discovery/tests/README.rst
  source/initial-dns-seedlist-discovery/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

Update 'ping' field description and process description and improve formatting.
  source/initial-dns-seedlist-discovery/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

Fix README rstcheck error.
  source/initial-dns-seedlist-discovery/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

DRIVERS-2327 use WriteConcernError for fail points
  source/retryable-writes/retryable-writes.rst
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 make formatting consistent
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

Drop the retry logic for Azure auto-KMS
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Grammars
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2377 remove GCE_METADATA_HOST check (#1290)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2327 strengthen prose test requirements
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 singularize retryWrites
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 pluralize retryWrite
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 update topology selection justification
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 NoWritesPerformed Retryable Writes Error Handling (#1297)
  source/retryable-writes/retryable-writes.rst
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2025 Include the "clusterTime" field in ChangeStreamDocument (#1139)
  source/change-streams/change-streams.rst
  source/change-streams/tests/unified/change-streams-clusterTime.json
  source/change-streams/tests/unified/change-streams-clusterTime.yml
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-4026: Preemptively cancel in progress operations when SDAM heartbeats timeout.
  source/connection-monitoring-and-pooling/connection-monitoring-and-pooling.rst
  source/connection-monitoring-and-pooling/tests/README.rst
  source/connection-monitoring-and-pooling/tests/pool-clear-close-in-use.json
  source/connection-monitoring-and-pooling/tests/pool-clear-close-in-use.yml
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run-closeInUseConnections-false.json
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run-closeInUseConnections-false.yml
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run.json
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run.yml
  source/server-discovery-and-monitoring/server-monitoring.rst
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.json
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-sdam

Update unified test format spec.
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.json
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
  source/unified-test-format/schema-1.11.json
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-unified-test-format

Update change log.
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Update link.
  source/server-discovery-and-monitoring/server-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

Update unified test format wording
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Fix yml structure
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

Fix yml structure.
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

Code review.
  source/connection-monitoring-and-pooling/tests/pool-clear-close-in-use.json
  source/connection-monitoring-and-pooling/tests/pool-clear-close-in-use.yml
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run.json
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run.yml
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.json
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-unified-test-format

remove MongoDB < 3.6 content from command monitoring spec
  source/command-monitoring/command-monitoring.rst
Owners: @mongodb/dbx-spec-owners-apm

remove front matter
  source/command-monitoring/command-monitoring.rst
Owners: @mongodb/dbx-spec-owners-apm

changelog
  source/command-monitoring/command-monitoring.rst
Owners: @mongodb/dbx-spec-owners-apm

tests simplification
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.json
Owners: @mongodb/dbx-spec-owners-sdam

update sdam yml file
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

Update source/unified-test-format/unified-test-format.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Update source/unified-test-format/unified-test-format.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Update source/unified-test-format/unified-test-format.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Add invalid unified test
  source/unified-test-format/tests/invalid/expectedCmapEvent-poolClearedEvent-closeInUseConnections-type.json
  source/unified-test-format/tests/invalid/expectedCmapEvent-poolClearedEvent-closeInUseConnections-type.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

add pool integration test.
  source/connection-monitoring-and-pooling/tests/pool-clear-closing-pending-connections.json
  source/connection-monitoring-and-pooling/tests/pool-clear-closing-pending-connections.yml
Owners: @mongodb/dbx-spec-owners-cmap

Add yml comments
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

change yml formatting
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

fix rationale numbering
  source/command-monitoring/command-monitoring.rst
Owners: @mongodb/dbx-spec-owners-apm

DRIVERS-1746 Add native support for AWS IAM Roles for service accounts, EKS in particular (#1299)
  source/auth/auth.rst
  source/auth/tests/mongodb-aws.rst
Owners: @mongodb/dbx-spec-owners-auth

Add retry write test
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.json
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

Fix yml formatting.
  source/server-discovery-and-monitoring/tests/unified/closeInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

Remove wait in pool-clear-closing-pending-connections.
  source/connection-monitoring-and-pooling/tests/pool-clear-closing-pending-connections.json
  source/connection-monitoring-and-pooling/tests/pool-clear-closing-pending-connections.yml
Owners: @mongodb/dbx-spec-owners-cmap
