Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

rediscover-quickly-after-step-down.yml comments
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.yml
Owners: @mongodb/dbx-spec-owners-sdam

wip add thread stuff
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

initial conversion, no comments, no review
  source/server-discovery-and-monitoring/tests/integration/cancel-server-check.yml
  source/server-discovery-and-monitoring/tests/integration/minPoolSize-error.json
  source/server-discovery-and-monitoring/tests/integration/minPoolSize-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.json
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.yml
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.json
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-error.json
  source/server-discovery-and-monitoring/tests/unified/find-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.json
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.json
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.yml
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.json
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.json
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.yml
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.json
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.yml
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.yml
Owners: @mongodb/dbx-spec-owners-sdam

cancel-server-check.yml comments
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.yml
Owners: @mongodb/dbx-spec-owners-sdam

auth-network-timeout-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

add SDAM changelog entry
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

wip convert to unified
  source/server-discovery-and-monitoring/tests/unified/auth-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

auth-misc-command-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

bump schema version
  source/server-discovery-and-monitoring/tests/unified/auth-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.json
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.json
  source/server-discovery-and-monitoring/tests/unified/find-network-error.json
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.json
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.json
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.json
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.json
Owners: @mongodb/dbx-spec-owners-sdam

hello-timeout.yml comments
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.json
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.yml
Owners: @mongodb/dbx-spec-owners-sdam

insert-network-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.json
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

find-network-timeout-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

insert-shutdown-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

manual conversions
  source/server-discovery-and-monitoring/tests/manual-unified/auth-error.json
  source/server-discovery-and-monitoring/tests/manual-unified/auth-error.yml
  source/server-discovery-and-monitoring/tests/manual-unified/find-shutdown-error.json
  source/server-discovery-and-monitoring/tests/manual-unified/find-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/manual-unified/rediscover-quickly-after-step-down.json
  source/server-discovery-and-monitoring/tests/manual-unified/rediscover-quickly-after-step-down.yml
Owners: @mongodb/dbx-spec-owners-sdam

comments for auth-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

add new schema
  source/unified-test-format/schema-1.10.json
Owners: @mongodb/dbx-spec-owners-unified-test-format

hello-network-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

find-network-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/find-network-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

hello-command-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

pool-cleared-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.json
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

add wait, touch up record topology description
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.json
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-unified-test-format

connecttimeoutMS.yml comments
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.yml
Owners: @mongodb/dbx-spec-owners-sdam

find-shutdown-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

dont need to observe events for waitForEvent
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

work on primary recording
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.json
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-unified-test-format

only observe command started events
  source/server-discovery-and-monitoring/tests/unified/auth-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.json
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.yml
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.json
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-error.json
  source/server-discovery-and-monitoring/tests/unified/find-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.json
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.json
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.json
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.yml
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.json
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.json
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.yml
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.json
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

auth-network-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

waitforevent, sdam events
  source/server-discovery-and-monitoring/tests/unified/auth-error.yml
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.json
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-unified-test-format

add unified test format changelog entry
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

auth-shutdown-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

add assertEventCount
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

minPoolSize-error.yml comments
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.json
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.yml
Owners: @mongodb/dbx-spec-owners-sdam

bump schema
  source/server-discovery-and-monitoring/tests/unified/auth-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-misc-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/auth-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/cancel-server-check.yml
  source/server-discovery-and-monitoring/tests/unified/connectTimeoutMS.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/find-network-timeout-error.yml
  source/server-discovery-and-monitoring/tests/unified/find-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-command-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/hello-timeout.yml
  source/server-discovery-and-monitoring/tests/unified/insert-network-error.yml
  source/server-discovery-and-monitoring/tests/unified/insert-shutdown-error.yml
  source/server-discovery-and-monitoring/tests/unified/minPoolSize-error.yml
  source/server-discovery-and-monitoring/tests/unified/pool-cleared-error.yml
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.yml
Owners: @mongodb/dbx-spec-owners-sdam

clarify threads
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

ensure a primary has been found
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.json
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.yml
Owners: @mongodb/dbx-spec-owners-sdam

include assertTopologyType in changelog
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

more thread clarification
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

bookkeeping
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

fix links
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

update "last updated" date, fix year in changelog
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership
