Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

Add unified test for createChangeStream without saveResultAsEntity
  source/unified-test-format/tests/valid-pass/poc-change-streams.json
  source/unified-test-format/tests/valid-pass/poc-change-streams.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2302 Add FLE 2 API to EncryptOpts (#1200)
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2313: valid-fail test for unsupported operation
  source/unified-test-format/tests/valid-fail/operation-unsupported.json
  source/unified-test-format/tests/valid-fail/operation-unsupported.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Note the present failure of the `explain` command in csfle
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

[DRIVERS-2241] Clarifications on driver CSE testing with csfle (#1199)
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2294 Add createCollection and collMod tests for changeStreamPreAndPostImages (#1206)
  source/collection-management/tests/README.rst
  source/collection-management/tests/createCollection-pre_and_post_images.json
  source/collection-management/tests/createCollection-pre_and_post_images.yml
  source/collection-management/tests/modifyCollection-pre_and_post_images.json
  source/collection-management/tests/modifyCollection-pre_and_post_images.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

DRIVERS-2313: valid-fail test for unsupported operation (#1208)
  source/unified-test-format/tests/valid-fail/operation-unsupported.json
  source/unified-test-format/tests/valid-fail/operation-unsupported.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-1995 (2) Do not error when parsing change stream event documents
  source/change-streams/tests/unified/change-streams.json
  source/change-streams/tests/unified/change-streams.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Update version range
  source/change-streams/tests/unified/change-streams.json
Owners: @mongodb/dbx-spec-owners-change-streams

Update yaml file
  source/change-streams/tests/unified/change-streams.yml
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-1995 Skip failing test on Server Version 5.3 (#1209)
  source/change-streams/tests/unified/change-streams.json
  source/change-streams/tests/unified/change-streams.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Restrict most unified change streams tests to only run against replicasets
  source/change-streams/tests/unified/change-streams.json
  source/change-streams/tests/unified/change-streams.yml
Owners: @mongodb/dbx-spec-owners-change-streams

fix placement of encryptionInformation
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.yml
Owners: @mongodb/dbx-spec-owners-fle

remove "encryptedIndexed" from fle2-EncryptedFields-vs-jsonSchema
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.yml
Owners: @mongodb/dbx-spec-owners-fle

add state collections to encryptedFields.json
  source/client-side-encryption/etc/data/encryptedFields.json
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.json
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.yml
  source/client-side-encryption/tests/fle2-Delete.json
  source/client-side-encryption/tests/fle2-Delete.yml
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-EncryptedFieldsMap.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/fle2-InsertFind-Unindexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Unindexed.yml
  source/client-side-encryption/tests/fle2-MissingKey.json
  source/client-side-encryption/tests/fle2-MissingKey.yml
  source/client-side-encryption/tests/fle2-Update.json
  source/client-side-encryption/tests/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

add __safeContent__ to outcome expectations
  source/client-side-encryption/etc/test-templates/fle2-BypassQueryAnalysis.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.json
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.yml
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/fle2-Update.json
  source/client-side-encryption/tests/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

add missing command_started_event
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml.template
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-EncryptedFieldsMap.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml
Owners: @mongodb/dbx-spec-owners-fle

use binData for safeContent expectation
  source/client-side-encryption/etc/test-templates/fle2-BypassQueryAnalysis.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.json
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.yml
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/fle2-Update.json
  source/client-side-encryption/tests/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

use exact match for __safeContent__
  source/client-side-encryption/etc/test-templates/fle2-BypassQueryAnalysis.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.json
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.yml
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/fle2-Update.json
  source/client-side-encryption/tests/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2297 Fix FLE 2 integration tests (#1211)
  source/client-side-encryption/etc/data/encryptedFields.json
  source/client-side-encryption/etc/test-templates/fle2-BypassQueryAnalysis.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.json
  source/client-side-encryption/tests/fle2-BypassQueryAnalysis.yml
  source/client-side-encryption/tests/fle2-Delete.json
  source/client-side-encryption/tests/fle2-Delete.yml
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-EncryptedFieldsMap.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/fle2-InsertFind-Unindexed.json
  source/client-side-encryption/tests/fle2-InsertFind-Unindexed.yml
  source/client-side-encryption/tests/fle2-MissingKey.json
  source/client-side-encryption/tests/fle2-MissingKey.yml
  source/client-side-encryption/tests/fle2-Update.json
  source/client-side-encryption/tests/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

Use 6.0.0-rc4 in `csfle` download example
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

note other versions are available
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Add test format wording for client side encryption
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Add ClientEncryption.rewrapManyDataKey() to Client Side Encryption spec
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/unified/rewrapManyDataKey-decrypt_failure.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-decrypt_failure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-encrypt_failure.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-encrypt_failure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-aws.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-aws.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-azure.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-azure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-gcp.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-kmip.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-local.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-local.yml
Owners: @mongodb/dbx-spec-owners-fle

Add DataKeyOpts.keyMaterial to Client Side Encryption spec
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Add unified test files for ClientEncryption.createKey()
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.yml
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.yml
  source/client-side-encryption/tests/unified/createKey-provider-aws.json
  source/client-side-encryption/tests/unified/createKey-provider-aws.yml
  source/client-side-encryption/tests/unified/createKey-provider-azure.json
  source/client-side-encryption/tests/unified/createKey-provider-azure.yml
  source/client-side-encryption/tests/unified/createKey-provider-gcp.json
  source/client-side-encryption/tests/unified/createKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/createKey-provider-invalid.json
  source/client-side-encryption/tests/unified/createKey-provider-invalid.yml
  source/client-side-encryption/tests/unified/createKey-provider-kmip.json
  source/client-side-encryption/tests/unified/createKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/createKey-provider-local.json
  source/client-side-encryption/tests/unified/createKey-provider-local.yml
Owners: @mongodb/dbx-spec-owners-fle

Fix kmsProvider fields to use $$placeholder operator per schema 1.8
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.yml
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.yml
  source/client-side-encryption/tests/unified/createKey-provider-aws.json
  source/client-side-encryption/tests/unified/createKey-provider-aws.yml
  source/client-side-encryption/tests/unified/createKey-provider-azure.json
  source/client-side-encryption/tests/unified/createKey-provider-azure.yml
  source/client-side-encryption/tests/unified/createKey-provider-gcp.json
  source/client-side-encryption/tests/unified/createKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/createKey-provider-invalid.json
  source/client-side-encryption/tests/unified/createKey-provider-invalid.yml
  source/client-side-encryption/tests/unified/createKey-provider-kmip.json
  source/client-side-encryption/tests/unified/createKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/createKey-provider-local.json
  source/client-side-encryption/tests/unified/createKey-provider-local.yml
Owners: @mongodb/dbx-spec-owners-fle

Apply spelling suggestions given in PR review
  source/client-side-encryption/client-side-encryption.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-unified-test-format

Clarify that drivers should not spawn mongocryptd if bypassQueryAnalysis is set
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2284 Update FLE 2 Create Collection
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

update fle2-CreateCollection for clusteredIndex
  source/client-side-encryption/tests/fle2-CreateCollection.json
  source/client-side-encryption/tests/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

drop data collection after state collections
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/fle2-CreateCollection.json
  source/client-side-encryption/tests/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

update changelog
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

fixup: review comment
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2297 Clarify that drivers should not spawn mongocryptd if bypassQueryAnalysis is set (#1214)
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Remove unnecessary useMultipleMongoses field
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.yml
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.yml
  source/client-side-encryption/tests/unified/createKey-provider-aws.json
  source/client-side-encryption/tests/unified/createKey-provider-aws.yml
  source/client-side-encryption/tests/unified/createKey-provider-azure.json
  source/client-side-encryption/tests/unified/createKey-provider-azure.yml
  source/client-side-encryption/tests/unified/createKey-provider-gcp.json
  source/client-side-encryption/tests/unified/createKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/createKey-provider-invalid.json
  source/client-side-encryption/tests/unified/createKey-provider-invalid.yml
  source/client-side-encryption/tests/unified/createKey-provider-kmip.json
  source/client-side-encryption/tests/unified/createKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/createKey-provider-local.json
  source/client-side-encryption/tests/unified/createKey-provider-local.yml
Owners: @mongodb/dbx-spec-owners-fle

Fix name of rewrapManyDataKey-decrypt_failure test
  source/client-side-encryption/tests/unified/rewrapManyDataKey-decrypt_failure.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-decrypt_failure.yml
Owners: @mongodb/dbx-spec-owners-fle

Clarify reason for failure in rewrapManyDataKey-decrypt_failure test
  source/client-side-encryption/tests/unified/rewrapManyDataKey-decrypt_failure.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-decrypt_failure.yml
Owners: @mongodb/dbx-spec-owners-fle

Add check for multi field in update commands
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-filter.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-aws.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-aws.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-azure.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-azure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-gcp.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-gcp.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-kmip.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-kmip.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-local.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-local.yml
Owners: @mongodb/dbx-spec-owners-fle

Fix test description for rewrapManyDataKey-provider-current
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey-provider-current.yml
Owners: @mongodb/dbx-spec-owners-fle

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership
