Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

Merge keyMaterial tests into createKey
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.yml
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.yml
  source/client-side-encryption/tests/unified/createKey.json
  source/client-side-encryption/tests/unified/createKey.yml
Owners: @mongodb/dbx-spec-owners-fle

Add unified tests for key management API functions
  source/client-side-encryption/tests/unified/addKeyAlternateName.json
  source/client-side-encryption/tests/unified/addKeyAlternateName.yml
  source/client-side-encryption/tests/unified/deleteKey.json
  source/client-side-encryption/tests/unified/deleteKey.yml
  source/client-side-encryption/tests/unified/getKey.json
  source/client-side-encryption/tests/unified/getKey.yml
  source/client-side-encryption/tests/unified/getKeyByAltName.json
  source/client-side-encryption/tests/unified/getKeyByAltName.yml
  source/client-side-encryption/tests/unified/getKeys.json
  source/client-side-encryption/tests/unified/getKeys.yml
  source/client-side-encryption/tests/unified/removeKeyAlternateName.json
  source/client-side-encryption/tests/unified/removeKeyAlternateName.yml
Owners: @mongodb/dbx-spec-owners-fle

Add tests for keyAltNames in createKey
  source/client-side-encryption/tests/unified/createKey.json
  source/client-side-encryption/tests/unified/createKey.yml
Owners: @mongodb/dbx-spec-owners-fle

remove irrelevant GLE comment
  source/command-monitoring/tests/unified/unacknowledgedBulkWrite.yml
Owners: @mongodb/dbx-spec-owners-apm

fix max server version for find/getMore/killCursors test
  source/command-monitoring/tests/unified/find.yml
Owners: @mongodb/dbx-spec-owners-apm

end test files with newlines
  source/command-monitoring/tests/unified/command.yml
  source/command-monitoring/tests/unified/deleteOne.yml
Owners: @mongodb/dbx-spec-owners-apm

add listCollections events to fle2-CreateCollection
  source/client-side-encryption/tests/legacy/fle2-CreateCollection.json
  source/client-side-encryption/tests/legacy/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

use ping for successful command, remove redundant failure test
  source/command-monitoring/tests/unified/command.yml
Owners: @mongodb/dbx-spec-owners-apm

update writeErrors assertions
  source/command-monitoring/tests/unified/deleteMany.json
  source/command-monitoring/tests/unified/deleteMany.yml
  source/command-monitoring/tests/unified/deleteOne.json
  source/command-monitoring/tests/unified/deleteOne.yml
  source/command-monitoring/tests/unified/insertMany.json
  source/command-monitoring/tests/unified/insertMany.yml
  source/command-monitoring/tests/unified/insertOne.json
  source/command-monitoring/tests/unified/insertOne.yml
  source/command-monitoring/tests/unified/updateMany.json
  source/command-monitoring/tests/unified/updateMany.yml
  source/command-monitoring/tests/unified/updateOne.json
  source/command-monitoring/tests/unified/updateOne.yml
Owners: @mongodb/dbx-spec-owners-apm

remove readPreference from find w/ options test
  source/command-monitoring/tests/unified/find.json
  source/command-monitoring/tests/unified/find.yml
Owners: @mongodb/dbx-spec-owners-apm

properly regenerate command.json
  source/command-monitoring/tests/unified/command.json
Owners: @mongodb/dbx-spec-owners-apm

Apply suggestions from code review
  source/command-monitoring/tests/unified/command.yml
  source/command-monitoring/tests/unified/insertOne.yml
  source/command-monitoring/tests/unified/unacknowledgedBulkWrite.yml
Owners: @mongodb/dbx-spec-owners-apm

regenerate JSON from code review suggestions
  source/command-monitoring/tests/unified/command.json
  source/command-monitoring/tests/unified/insertOne.json
  source/command-monitoring/tests/unified/unacknowledgedBulkWrite.json
Owners: @mongodb/dbx-spec-owners-apm

use $unsupported rather than $nothing
  source/command-monitoring/tests/unified/deleteMany.json
  source/command-monitoring/tests/unified/deleteMany.yml
  source/command-monitoring/tests/unified/deleteOne.json
  source/command-monitoring/tests/unified/deleteOne.yml
  source/command-monitoring/tests/unified/updateMany.json
  source/command-monitoring/tests/unified/updateMany.yml
  source/command-monitoring/tests/unified/updateOne.json
  source/command-monitoring/tests/unified/updateOne.yml
Owners: @mongodb/dbx-spec-owners-apm

note requirement of 1.5.0-alpha2
  source/client-side-encryption/tests/legacy/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2309 add listCollections events to fle2-CreateCollection (#1230)
  source/client-side-encryption/tests/legacy/fle2-CreateCollection.json
  source/client-side-encryption/tests/legacy/fle2-CreateCollection.yml
Owners: @mongodb/dbx-spec-owners-fle

add test for "create" and "createIndexes"
  source/client-side-encryption/etc/test-templates/create-and-createIndexes.yml.template
  source/client-side-encryption/tests/legacy/create-and-createIndexes.json
  source/client-side-encryption/tests/legacy/create-and-createIndexes.yml
Owners: @mongodb/dbx-spec-owners-fle

test ban on create/collMod validator and createIndexes partialFieldExpression
  source/client-side-encryption/etc/test-templates/fle2-validatorAndPartialFieldExpression.yml.template
  source/client-side-encryption/etc/test-templates/validatorAndPartialFieldExpression.yml.template
  source/client-side-encryption/tests/legacy/fle2-validatorAndPartialFieldExpression.json
  source/client-side-encryption/tests/legacy/fle2-validatorAndPartialFieldExpression.yml
  source/client-side-encryption/tests/legacy/validatorAndPartialFieldExpression.json
  source/client-side-encryption/tests/legacy/validatorAndPartialFieldExpression.yml
Owners: @mongodb/dbx-spec-owners-fle

regenerate tests
  source/client-side-encryption/tests/legacy/fle2-validatorAndPartialFieldExpression.yml
  source/client-side-encryption/tests/legacy/validatorAndPartialFieldExpression.yml
Owners: @mongodb/dbx-spec-owners-fle

Remove escape character in comments of code blocks
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix description of getKeyByAltName
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Change UUID type to Binary and specify UUID subtype
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Capitalize MAY per spec conventions
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Add reference to createIndex documentation
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Specify writeConcern level in prose test spec
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Remove match assertion for acknowledged field
  source/client-side-encryption/tests/unified/deleteKey.json
  source/client-side-encryption/tests/unified/deleteKey.yml
Owners: @mongodb/dbx-spec-owners-fle

Change capitalization of BSONValue -> BsonValue for consistency
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Include error code when asserting duplicate key errors
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Change return type for functions returning zero-or-one documents to Optional<Document>
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/unified/getKey.json
  source/client-side-encryption/tests/unified/getKey.yml
  source/client-side-encryption/tests/unified/getKeyByAltName.json
  source/client-side-encryption/tests/unified/getKeyByAltName.yml
Owners: @mongodb/dbx-spec-owners-fle

remove < 3.6 tests
  source/command-monitoring/tests/unified/command.json
  source/command-monitoring/tests/unified/command.yml
  source/command-monitoring/tests/unified/find.json
  source/command-monitoring/tests/unified/find.yml
Owners: @mongodb/dbx-spec-owners-apm

Add missing name field to createIndexes command
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix capitalization of keyAltNames in addKeyAlternateName
  source/client-side-encryption/tests/unified/addKeyAlternateName.json
  source/client-side-encryption/tests/unified/addKeyAlternateName.yml
Owners: @mongodb/dbx-spec-owners-fle

Rename Alternate -> Alt in function names
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
  source/client-side-encryption/tests/unified/addKeyAltName.json
  source/client-side-encryption/tests/unified/addKeyAltName.yml
  source/client-side-encryption/tests/unified/removeKeyAltName.json
  source/client-side-encryption/tests/unified/removeKeyAltName.yml
Owners: @mongodb/dbx-spec-owners-fle

Add commandStartedEvents to ensure consistent commands across implementations
  source/client-side-encryption/tests/unified/addKeyAltName.json
  source/client-side-encryption/tests/unified/addKeyAltName.yml
  source/client-side-encryption/tests/unified/createKey.json
  source/client-side-encryption/tests/unified/createKey.yml
  source/client-side-encryption/tests/unified/deleteKey.json
  source/client-side-encryption/tests/unified/deleteKey.yml
  source/client-side-encryption/tests/unified/getKey.json
  source/client-side-encryption/tests/unified/getKey.yml
  source/client-side-encryption/tests/unified/getKeyByAltName.json
  source/client-side-encryption/tests/unified/getKeyByAltName.yml
  source/client-side-encryption/tests/unified/getKeys.json
  source/client-side-encryption/tests/unified/getKeys.yml
  source/client-side-encryption/tests/unified/removeKeyAltName.json
  source/client-side-encryption/tests/unified/removeKeyAltName.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

Fix RST heading punctuation length
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

remove note of explain
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

remove note of explain (#1231)
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Address comments on PR
  source/change-streams/change-streams.rst
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Fix prose test number for Unique Index on keyAltNames
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix value of key field in example command
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership
