Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership

bump schema version since 1.10 is now latest
  source/command-monitoring/tests/logging/unified/command.json
  source/command-monitoring/tests/logging/unified/command.yml
  source/command-monitoring/tests/logging/unified/pre-42-server-connection-id.json
  source/command-monitoring/tests/logging/unified/pre-42-server-connection-id.yml
  source/command-monitoring/tests/logging/unified/redacted-commands.json
  source/command-monitoring/tests/logging/unified/redacted-commands.yml
  source/command-monitoring/tests/logging/unified/server-connection-id.json
  source/command-monitoring/tests/logging/unified/server-connection-id.yml
  source/command-monitoring/tests/logging/unified/test_runner_changes.md
Owners: @mongodb/dbx-spec-owners-apm

draft tests and impl notes
  source/command-monitoring/tests/logging/command-logging.json
  source/command-monitoring/tests/logging/command-logging.yml
  source/command-monitoring/tests/logging/test_runner_changes.md
Owners: @mongodb/dbx-spec-owners-apm

WIP new tests
  source/command-monitoring/tests/logging/unified/command.json
  source/command-monitoring/tests/logging/unified/command.yml
  source/command-monitoring/tests/logging/unified/pre-42-server-connection-id.json
  source/command-monitoring/tests/logging/unified/pre-42-server-connection-id.yml
  source/command-monitoring/tests/logging/unified/redacted-commands.json
  source/command-monitoring/tests/logging/unified/redacted-commands.yml
  source/command-monitoring/tests/logging/unified/server-connection-id.json
  source/command-monitoring/tests/logging/unified/server-connection-id.yml
Owners: @mongodb/dbx-spec-owners-apm

Add missing options to 'URI with auth' test.
  source/initial-dns-seedlist-discovery/tests/replica-set/uri-with-auth.json
  source/initial-dns-seedlist-discovery/tests/replica-set/uri-with-auth.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Fix and improve formatting.
  source/initial-dns-seedlist-discovery/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

Add behavior for automatic Azure KMS credentials
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

New mod date
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

add cmap tests
  source/connection-monitoring-and-pooling/tests/unified/connection-logging.json
  source/connection-monitoring-and-pooling/tests/unified/connection-logging.yml
Owners: @mongodb/dbx-spec-owners-cmap

add disambiguatedPaths to change streams update document
  source/change-streams/change-streams.rst
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.json
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.yml
Owners: @mongodb/dbx-spec-owners-change-streams

chore: update changelog and bump spec version
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

chore: remove unintentional change
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

chore: remove unintentional change
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

Address Benji's comment
  source/change-streams/change-streams.rst
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.json
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.yml
Owners: @mongodb/dbx-spec-owners-change-streams

chore: bump updated at date
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-2344: add disambiguatedPaths to change streams update document (#1292)
  source/change-streams/change-streams.rst
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.json
  source/change-streams/tests/unified/change-streams-disambiguatedPaths.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Clarify the behavior of the following commands w/ comments on pre-4.4 servers
  source/enumerate-collections.rst
  source/enumerate-databases.rst
  source/enumerate-indexes.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

DRIVERS-2025 Include the "clusterTime" field in ChangeStreamDocument
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

bump version and update changelog
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

add spec test for field
  source/change-streams/tests/unified/change-streams-clusterTime.json
  source/change-streams/tests/unified/change-streams-clusterTime.yml
Owners: @mongodb/dbx-spec-owners-change-streams

rebump version
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

Skip ping for test URIs that include userinfo.
  source/initial-dns-seedlist-discovery/tests/replica-set/encoded-userinfo-and-db.json
  source/initial-dns-seedlist-discovery/tests/replica-set/encoded-userinfo-and-db.yml
  source/initial-dns-seedlist-discovery/tests/replica-set/uri-with-auth.json
  source/initial-dns-seedlist-discovery/tests/replica-set/uri-with-auth.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Clarify note about running 'ping' with missing vs incorrect userinfo.
  source/initial-dns-seedlist-discovery/tests/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

use camelCase for ReadPreference mode in the unified format
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.json
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.yml
Owners: @mongodb/dbx-spec-owners-sdam

mention createEntities in changelog for unified test format
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2327 NoWritesPerformed Retryable Writes Error Handling
  source/retryable-writes/retryable-writes.rst
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 use 3 space indents on prose test steps
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 fix spacing on step 4
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 remove uncessary client creation conditions
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 clarify NotWritablePrimary error code requirement
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 unify fail point parlance
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 clean up phrasing
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 remove unecessary formatting
  source/retryable-writes/retryable-writes.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2366 Use camelCase for ReadPreference mode in unified tests (#1296)
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.json
  source/server-discovery-and-monitoring/tests/unified/rediscover-quickly-after-step-down.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-unified-test-format

Remove unused tojson.sh script.
  source/server-selection/tojson.sh
Owners: @mongodb/dbx-spec-owners-server-selection

DRIVERS-2327 shore up edge cases
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-2327 clean up structure and syntax
  source/retryable-writes/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability

DRIVERS-1746 Add native support for AWS IAM Roles for service accounts, EKS in particular
  source/auth/auth.rst
  source/auth/tests/mongodb-aws.rst
Owners: @mongodb/dbx-spec-owners-auth

DRIVERS-2417: Exclude create events from change stream when testing showExpandedEvents
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Remove unused tojson.sh script. (#1298)
  source/server-selection/tojson.sh
Owners: @mongodb/dbx-spec-owners-server-selection

address review
  source/auth/tests/mongodb-aws.rst
Owners: @mongodb/dbx-spec-owners-auth
