Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership

Further clarify permitted UUID-equivalent types
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Avoid prescribing preference, just defer to existing spec
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2017 Add remaining Key Management API functions to spec and tests (#1229)
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
  source/client-side-encryption/tests/unified/addKeyAltName.json
  source/client-side-encryption/tests/unified/addKeyAltName.yml
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial-invalid_length.yml
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.json
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.yml
  source/client-side-encryption/tests/unified/createKey-kms_providers.json
  source/client-side-encryption/tests/unified/createKey-kms_providers.yml
  source/client-side-encryption/tests/unified/createKey.json
  source/client-side-encryption/tests/unified/createKey.yml
  source/client-side-encryption/tests/unified/deleteKey.json
  source/client-side-encryption/tests/unified/deleteKey.yml
  source/client-side-encryption/tests/unified/getKey.json
  source/client-side-encryption/tests/unified/getKey.yml
  source/client-side-encryption/tests/unified/getKeyByAltName.json
  source/client-side-encryption/tests/unified/getKeyByAltName.yml
  source/client-side-encryption/tests/unified/getKeys.json
  source/client-side-encryption/tests/unified/getKeys.yml
  source/client-side-encryption/tests/unified/removeKeyAltName.json
  source/client-side-encryption/tests/unified/removeKeyAltName.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-unified-test-format

Fix heading width
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Clarify how encryptedFields interacts with create and drop commands
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Clarify how encryptedFields interacts with create and drop commands (#1232)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Add missing rationale for key management API
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix section title style
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Add missing rationale for key management API and fix RST syntax (#1233)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2309 test `create`, `createIndexes`, and `collMod` in FLE (#1227)
  source/client-side-encryption/etc/test-templates/create-and-createIndexes.yml.template
  source/client-side-encryption/etc/test-templates/fle2-validatorAndPartialFieldExpression.yml.template
  source/client-side-encryption/etc/test-templates/validatorAndPartialFieldExpression.yml.template
  source/client-side-encryption/tests/legacy/create-and-createIndexes.json
  source/client-side-encryption/tests/legacy/create-and-createIndexes.yml
  source/client-side-encryption/tests/legacy/fle2-validatorAndPartialFieldExpression.json
  source/client-side-encryption/tests/legacy/fle2-validatorAndPartialFieldExpression.yml
  source/client-side-encryption/tests/legacy/validatorAndPartialFieldExpression.json
  source/client-side-encryption/tests/legacy/validatorAndPartialFieldExpression.yml
Owners: @mongodb/dbx-spec-owners-fle

Define ECC, ECOC, and ESC acronyms within encryptedFields
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Define ECC, ECOC, and ESC acronyms within encryptedFields (#1234)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

update FLE 2 find payloads
  source/client-side-encryption/etc/test-templates/fle2-Delete.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
  source/client-side-encryption/tests/legacy/fle2-Delete.json
  source/client-side-encryption/tests/legacy/fle2-Delete.yml
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/legacy/fle2-Update.json
  source/client-side-encryption/tests/legacy/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2307 use topology, not topologies (#1228)
  source/client-side-encryption/etc/test-templates/fle2-Compact.yml.template
  source/client-side-encryption/tests/legacy/fle2-Compact.json
  source/client-side-encryption/tests/legacy/fle2-Compact.yml
Owners: @mongodb/dbx-spec-owners-fle

fix: specify Binary instead of UUID for collectionUUID
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

fix: move comment about binary type
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

Fix anon link warning
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Rename csfle --> crypt_shared
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Mod date
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-1975: Add `showExpandedEvents` flag and new change stream events (#1220)
  source/change-streams/change-streams.rst
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Take PR suggestions
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

[DRIVERS-2338] Rename csfle to "crypt_shared" (#1236)
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-unified-test-format

Fix list formatting and link target in encrypted_fields docs
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

@TylerBrock is back
  source/crud/crud.rst
Owners: @mongodb/dbx-spec-owners-crud

@TylerBrock is back (#1237)
  source/crud/crud.rst
Owners: @mongodb/dbx-spec-owners-crud

update FLE 2 find payloads (#1235)
  source/client-side-encryption/etc/test-templates/fle2-Delete.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
  source/client-side-encryption/tests/legacy/fle2-Delete.json
  source/client-side-encryption/tests/legacy/fle2-Delete.yml
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/legacy/fle2-Update.json
  source/client-side-encryption/tests/legacy/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-1096: Split showRecordId/returnKey into separate test
  source/command-monitoring/tests/unified/find.json
  source/command-monitoring/tests/unified/find.yml
Owners: @mongodb/dbx-spec-owners-apm

DRIVERS-1096: Split showRecordId/returnKey into separate test (#1238)
  source/command-monitoring/tests/unified/find.json
  source/command-monitoring/tests/unified/find.yml
Owners: @mongodb/dbx-spec-owners-apm

add regression test for MONGOCRYPT-435
  source/client-side-encryption/etc/test-templates/fle2-validatorAndPartialFieldExpression.yml.template
  source/client-side-encryption/tests/legacy/fle2-validatorAndPartialFieldExpression.json
  source/client-side-encryption/tests/legacy/fle2-validatorAndPartialFieldExpression.yml
Owners: @mongodb/dbx-spec-owners-fle

require testing with mongocryptd
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

require testing with mongocryptd (#1240)
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2330 rename "FLE 2" to "Queryable Encryption" (#1223)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Revert "update FLE 2 find payloads (#1235)"
  source/client-side-encryption/etc/test-templates/fle2-Delete.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
  source/client-side-encryption/tests/legacy/fle2-Delete.json
  source/client-side-encryption/tests/legacy/fle2-Delete.yml
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/legacy/fle2-Update.json
  source/client-side-encryption/tests/legacy/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

Revert "update FLE 2 find payloads (#1235)" (#1241)
  source/client-side-encryption/etc/test-templates/fle2-Delete.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
  source/client-side-encryption/tests/legacy/fle2-Delete.json
  source/client-side-encryption/tests/legacy/fle2-Delete.yml
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/legacy/fle2-Update.json
  source/client-side-encryption/tests/legacy/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

MONGOCRYPT-436 add regression integration test
  source/client-side-encryption/etc/test-templates/create-and-createIndexes.yml.template
  source/client-side-encryption/tests/legacy/create-and-createIndexes.json
  source/client-side-encryption/tests/legacy/create-and-createIndexes.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2350 add Decryption Events prose tests
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2330: Update link to create/drop helpers
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-555 Increase CSOT test timeouts to account for slower TLS connection setup in Python
  source/client-side-operations-timeout/etc/templates/global-timeoutMS.yml.template
  source/client-side-operations-timeout/etc/templates/retryability-timeoutMS.yml.template
  source/client-side-operations-timeout/tests/README.rst
  source/client-side-operations-timeout/tests/bulkWrite.json
  source/client-side-operations-timeout/tests/bulkWrite.yml
  source/client-side-operations-timeout/tests/command-execution.json
  source/client-side-operations-timeout/tests/command-execution.yml
  source/client-side-operations-timeout/tests/error-transformations.json
  source/client-side-operations-timeout/tests/error-transformations.yml
  source/client-side-operations-timeout/tests/global-timeoutMS.json
  source/client-side-operations-timeout/tests/global-timeoutMS.yml
  source/client-side-operations-timeout/tests/retryability-timeoutMS.json
  source/client-side-operations-timeout/tests/retryability-timeoutMS.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Clarify minimum server versions & update abstract
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Bump version & last modified
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle
