Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership

DRIVERS-2367 Allow RewrapManyDataKeyResult.bulkWriteResult to be optional (#1259)
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/unified/rewrapManyDataKey.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

Revert "Revert "update FLE 2 find payloads (#1235)" (#1241)"
  source/client-side-encryption/etc/test-templates/fle2-Delete.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
  source/client-side-encryption/tests/legacy/fle2-Delete.json
  source/client-side-encryption/tests/legacy/fle2-Delete.yml
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/legacy/fle2-Update.json
  source/client-side-encryption/tests/legacy/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

add test case 6 for default contention
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

add Case 6 to test find with default contention
  source/client-side-encryption/etc/data/encryptedFields.json
  source/client-side-encryption/etc/data/keys/key3-document.json
  source/client-side-encryption/etc/data/keys/key3-id.json
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

set contention factor to 0 in case 2
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

regenerate fle2 tests
  source/client-side-encryption/tests/legacy/fle2-BypassQueryAnalysis.json
  source/client-side-encryption/tests/legacy/fle2-BypassQueryAnalysis.yml
  source/client-side-encryption/tests/legacy/fle2-Compact.json
  source/client-side-encryption/tests/legacy/fle2-Compact.yml
  source/client-side-encryption/tests/legacy/fle2-Delete.json
  source/client-side-encryption/tests/legacy/fle2-Delete.yml
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-EncryptedFieldsMap.json
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-EncryptedFieldsMap.yml
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Unindexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Unindexed.yml
  source/client-side-encryption/tests/legacy/fle2-MissingKey.json
  source/client-side-encryption/tests/legacy/fle2-MissingKey.yml
  source/client-side-encryption/tests/legacy/fle2-Update.json
  source/client-side-encryption/tests/legacy/fle2-Update.yml
  source/client-side-encryption/tests/legacy/fle2-validatorAndPartialFieldExpression.json
  source/client-side-encryption/tests/legacy/fle2-validatorAndPartialFieldExpression.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2329: remove optimization mention that no longer applies
  source/server-discovery-and-monitoring/server-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

update changelog
  source/server-discovery-and-monitoring/server-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

Make KMS options more typescript-shaped
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Bump version and changes
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Remove createKey in favor of createDataKey
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.json
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.yml
  source/client-side-encryption/tests/unified/createDataKey.json
  source/client-side-encryption/tests/unified/createDataKey.yml
  source/client-side-encryption/tests/unified/getKeys.json
  source/client-side-encryption/tests/unified/getKeys.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2329: remove optimization mention that no longer applies (#1263)
  source/server-discovery-and-monitoring/server-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

DRIVERS-2371 add required contention factor to prose tests
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Rename some types. Explain the meaning of KMSProviderName
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix RST header syntax to match new length
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Make KMS options more typescript-shaped (#1264)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix dates in changelog
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2370 Remove createKey in favor of createDataKey (#1265)
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.json
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.yml
  source/client-side-encryption/tests/unified/createDataKey.json
  source/client-side-encryption/tests/unified/createDataKey.yml
  source/client-side-encryption/tests/unified/getKeys.json
  source/client-side-encryption/tests/unified/getKeys.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2373 remove unnecessary use of on-demand credentials
  source/client-side-encryption/tests/unified/addKeyAltName.json
  source/client-side-encryption/tests/unified/addKeyAltName.yml
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.json
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.yml
  source/client-side-encryption/tests/unified/deleteKey.json
  source/client-side-encryption/tests/unified/deleteKey.yml
  source/client-side-encryption/tests/unified/getKey.json
  source/client-side-encryption/tests/unified/getKey.yml
  source/client-side-encryption/tests/unified/getKeyByAltName.json
  source/client-side-encryption/tests/unified/getKeyByAltName.yml
  source/client-side-encryption/tests/unified/removeKeyAltName.json
  source/client-side-encryption/tests/unified/removeKeyAltName.yml
Owners: @mongodb/dbx-spec-owners-fle

Add skipReason to kmsProviders-unconfigured_kms test
  source/unified-test-format/tests/valid-pass/kmsProviders-unconfigured_kms.json
  source/unified-test-format/tests/valid-pass/kmsProviders-unconfigured_kms.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Fix placement of skipReason
  source/unified-test-format/tests/valid-pass/kmsProviders-unconfigured_kms.json
  source/unified-test-format/tests/valid-pass/kmsProviders-unconfigured_kms.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2343 Reapply updates to FLE 2 find payloads (#1261)
  source/client-side-encryption/etc/test-templates/fle2-Delete.yml.template
  source/client-side-encryption/etc/test-templates/fle2-EncryptedFields-vs-jsonSchema.yml.template
  source/client-side-encryption/etc/test-templates/fle2-FindOneAndUpdate.yml.template
  source/client-side-encryption/etc/test-templates/fle2-InsertFind-Indexed.yml.template
  source/client-side-encryption/etc/test-templates/fle2-Update.yml.template
  source/client-side-encryption/tests/legacy/fle2-Delete.json
  source/client-side-encryption/tests/legacy/fle2-Delete.yml
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.json
  source/client-side-encryption/tests/legacy/fle2-EncryptedFields-vs-jsonSchema.yml
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.json
  source/client-side-encryption/tests/legacy/fle2-FindOneAndUpdate.yml
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.json
  source/client-side-encryption/tests/legacy/fle2-InsertFind-Indexed.yml
  source/client-side-encryption/tests/legacy/fle2-Update.json
  source/client-side-encryption/tests/legacy/fle2-Update.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2371 add required contention factor to prose tests (#1266)
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2373 remove unnecessary use of on-demand credentials in CSE unified spec tests (#1267)
  source/client-side-encryption/tests/unified/addKeyAltName.json
  source/client-side-encryption/tests/unified/addKeyAltName.yml
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.json
  source/client-side-encryption/tests/unified/createDataKey-kms_providers-invalid.yml
  source/client-side-encryption/tests/unified/deleteKey.json
  source/client-side-encryption/tests/unified/deleteKey.yml
  source/client-side-encryption/tests/unified/getKey.json
  source/client-side-encryption/tests/unified/getKey.yml
  source/client-side-encryption/tests/unified/getKeyByAltName.json
  source/client-side-encryption/tests/unified/getKeyByAltName.yml
  source/client-side-encryption/tests/unified/removeKeyAltName.json
  source/client-side-encryption/tests/unified/removeKeyAltName.yml
  source/unified-test-format/tests/valid-pass/kmsProviders-unconfigured_kms.json
  source/unified-test-format/tests/valid-pass/kmsProviders-unconfigured_kms.yml
Owners: @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-unified-test-format

Clarify bulk write operation expectations for rewrapManyDataKey
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2376 Clarify bulk write operation expectations for rewrapManyDataKey (#1268)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Strengthen wording
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-555 Add comment about Python+Windows I/O quirk
  source/client-side-operations-timeout/etc/templates/global-timeoutMS.yml.template
  source/client-side-operations-timeout/tests/global-timeoutMS.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

DRIVERS-555 Increase CSOT test timeouts (#1244)
  source/client-side-operations-timeout/etc/templates/global-timeoutMS.yml.template
  source/client-side-operations-timeout/etc/templates/retryability-timeoutMS.yml.template
  source/client-side-operations-timeout/tests/README.rst
  source/client-side-operations-timeout/tests/bulkWrite.json
  source/client-side-operations-timeout/tests/bulkWrite.yml
  source/client-side-operations-timeout/tests/command-execution.json
  source/client-side-operations-timeout/tests/command-execution.yml
  source/client-side-operations-timeout/tests/error-transformations.json
  source/client-side-operations-timeout/tests/error-transformations.yml
  source/client-side-operations-timeout/tests/global-timeoutMS.json
  source/client-side-operations-timeout/tests/global-timeoutMS.yml
  source/client-side-operations-timeout/tests/retryability-timeoutMS.json
  source/client-side-operations-timeout/tests/retryability-timeoutMS.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

DRIVERS-555 Fix capped collection test for MMAPv1
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.json
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Updated CSE tests where there is no expected result
  source/client-side-encryption/tests/unified/addKeyAltName.json
  source/client-side-encryption/tests/unified/addKeyAltName.yml
  source/client-side-encryption/tests/unified/getKey.json
  source/client-side-encryption/tests/unified/getKey.yml
  source/client-side-encryption/tests/unified/getKeyByAltName.json
  source/client-side-encryption/tests/unified/getKeyByAltName.yml
  source/client-side-encryption/tests/unified/removeKeyAltName.json
  source/client-side-encryption/tests/unified/removeKeyAltName.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-1967 Fix changelog date
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-1967 Fix changelog date (#1271)
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Updated CSE tests where there is no expected result (#1270)
  source/client-side-encryption/tests/unified/addKeyAltName.json
  source/client-side-encryption/tests/unified/addKeyAltName.yml
  source/client-side-encryption/tests/unified/getKey.json
  source/client-side-encryption/tests/unified/getKey.yml
  source/client-side-encryption/tests/unified/getKeyByAltName.json
  source/client-side-encryption/tests/unified/getKeyByAltName.yml
  source/client-side-encryption/tests/unified/removeKeyAltName.json
  source/client-side-encryption/tests/unified/removeKeyAltName.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-555 Fix capped collection test on MMAPv1 (#1269)
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.json
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Add a prose test for the on-demand AWS credentials.
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

A failure case for on-demand creds
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2386 Improve reliability of SDAM heartbeat error spec tests.
  source/server-discovery-and-monitoring/tests/integration/hello-command-error.json
  source/server-discovery-and-monitoring/tests/integration/hello-command-error.yml
  source/server-discovery-and-monitoring/tests/integration/hello-network-error.json
  source/server-discovery-and-monitoring/tests/integration/hello-network-error.yml
  source/server-discovery-and-monitoring/tests/integration/hello-timeout.json
  source/server-discovery-and-monitoring/tests/integration/hello-timeout.yml
Owners: @mongodb/dbx-spec-owners-sdam

Clarify that unified test format supports ignoreExtraEvents
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

remove link to removed section
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format
