Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

Ensure documents are sorted by keyAltName
  source/client-side-encryption/tests/unified/rewrapManyDataKey.json
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2285 Add wallTime field to change stream events
  source/change-streams/change-streams.rst
  source/change-streams/tests/unified/change-streams.json
  source/change-streams/tests/unified/change-streams.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Reduce duplication in createKey test using merge key
  source/client-side-encryption/tests/unified/createKey-dataKeyOpts-keyMaterial.yml
  source/client-side-encryption/tests/unified/createKey-kms_providers.yml
Owners: @mongodb/dbx-spec-owners-fle

Add line breaks between tests for readability
  source/client-side-encryption/tests/unified/createKey-kms_providers-invalid.yml
  source/client-side-encryption/tests/unified/createKey-kms_providers.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey-encrypt_failure.yml
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

Add note explaining purpose of sorting resulting documents in find commands
  source/client-side-encryption/tests/unified/rewrapManyDataKey.yml
Owners: @mongodb/dbx-spec-owners-fle

Add new change stream events to spec
  source/change-streams/change-streams.rst
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

reformat
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

last modified date and changelog
  source/command-monitoring/command-monitoring.rst
Owners: @mongodb/dbx-spec-owners-apm

Bump find.yml to 1.1 to support _yamlAnchors
  source/command-monitoring/tests/unified/find.yml
Owners: @mongodb/dbx-spec-owners-apm

Update find.json
  source/command-monitoring/tests/unified/find.json
Owners: @mongodb/dbx-spec-owners-apm

remove note about contentionFactor default
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2330 rename "FLE 2" to "Queryable Encryption"
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

update spec version and changelog
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

rename "FLE 1" to "FLE". Define "In-Use Encryption" as umbrella term.
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix rst issue
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix rst issue
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Revert "Fix rst issue"
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix rst syntax
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix rst syntax (#1225)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

DRIVERS-2285 Add wallTime field to change stream events (#1219)
  source/change-streams/change-streams.rst
  source/change-streams/tests/unified/change-streams.json
  source/change-streams/tests/unified/change-streams.yml
Owners: @mongodb/dbx-spec-owners-change-streams

fix wording in spec and update tests
  source/change-streams/change-streams.rst
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

update server version compatibilty
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

remove note about contentionFactor default (#1222)
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Fix changelog formatting for csvtable
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

add fle2-Compact integration test
  source/client-side-encryption/etc/test-templates/fle2-Compact.yml.template
  source/client-side-encryption/tests/fle2-Compact.json
  source/client-side-encryption/tests/fle2-Compact.yml
Owners: @mongodb/dbx-spec-owners-fle

fix $in expectation
  source/client-side-encryption/etc/test-templates/fle2-Compact.yml.template
  source/client-side-encryption/tests/fle2-Compact.json
  source/client-side-encryption/tests/fle2-Compact.yml
Owners: @mongodb/dbx-spec-owners-fle

rebase
  source/client-side-encryption/tests/fle2-Compact.json
  source/client-side-encryption/tests/fle2-Compact.yml
Owners: @mongodb/dbx-spec-owners-fle

move fle2-Compact to legacy directory
  source/client-side-encryption/tests/legacy/fle2-Compact.json
  source/client-side-encryption/tests/legacy/fle2-Compact.yml
Owners: @mongodb/dbx-spec-owners-fle

update json-regenerate-check for legacy directory
  .github/workflows/json-regenerate-check.yml
Owners: @mongodb/dbx-leadership

DRIVERS-2307 Add compact integration test (#1204)
  .github/workflows/json-regenerate-check.yml
  source/client-side-encryption/etc/test-templates/fle2-Compact.yml.template
  source/client-side-encryption/tests/legacy/fle2-Compact.json
  source/client-side-encryption/tests/legacy/fle2-Compact.yml
Owners: @mongodb/dbx-leadership, @mongodb/dbx-spec-owners-fle

DRIVERS-555 Forbid serverless on collectionData test
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.json
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-555 Forbid serverless on collectionData test (#1226)
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.json
  source/unified-test-format/tests/valid-pass/collectionData-createOptions.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

add operationDescription to create/modify events
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

revert changes to walltime
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

adjust wording in changelog
  source/change-streams/change-streams.rst
Owners: @mongodb/dbx-spec-owners-change-streams

DRIVERS-2307 use topology, not topologies
  source/client-side-encryption/etc/test-templates/fle2-Compact.yml.template
  source/client-side-encryption/tests/legacy/fle2-Compact.json
  source/client-side-encryption/tests/legacy/fle2-Compact.yml
Owners: @mongodb/dbx-spec-owners-fle

Address comments on tests
  source/change-streams/tests/unified/change-streams-showExpandedEvents.json
  source/change-streams/tests/unified/change-streams-showExpandedEvents.yml
Owners: @mongodb/dbx-spec-owners-change-streams

Add CSE prose test for keyAltNames unique index
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Add key management API to CSE spec
  source/client-side-encryption/client-side-encryption.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-unified-test-format

Rename createKey-kms_providers to createKey for consistency
  source/client-side-encryption/tests/unified/createKey.json
  source/client-side-encryption/tests/unified/createKey.yml
Owners: @mongodb/dbx-spec-owners-fle

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership
