Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

Apply suggestions from code review
  source/crud/crud.rst
  source/versioned-api/tests/crud-api-version-1-strict.yml
  source/versioned-api/tests/crud-api-version-1.yml
Owners: @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-reviewers-unowned

DRIVERS-1967: Serverless testing uses load balancer fronting single proxy
  source/serverless-testing/README.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-unified-test-format

Copy clarifications to legacy test formats
  source/retryable-reads/tests/README.rst
  source/retryable-writes/tests/README.rst
  source/transactions/tests/README.rst
Owners: @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-transactions

DRIVERS-555 Restore schema-1.4.json
  source/unified-test-format/schema-1.4.json
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-555 Require 3.6 for collStats test
  source/unified-test-format/tests/valid-pass/initialCollectionData-collectionOptions.json
  source/unified-test-format/tests/valid-pass/initialCollectionData-collectionOptions.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-555 Add valid-pass test for createEntities operation
  source/unified-test-format/tests/valid-pass/createEntities-operation.json
  source/unified-test-format/tests/valid-pass/createEntities-operation.yml
  source/unified-test-format/tests/valid-pass/entity-cursor-iterateOnce.json
  source/unified-test-format/tests/valid-pass/entity-cursor-iterateOnce.yml
  source/unified-test-format/tests/valid-pass/initialCollectionData-collectionOptions.json
  source/unified-test-format/tests/valid-pass/initialCollectionData-collectionOptions.yml
  source/unified-test-format/tests/valid-pass/matches-lte-operator.json
  source/unified-test-format/tests/valid-pass/matches-lte-operator.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-555 Fix createEntities test
  source/unified-test-format/tests/valid-pass/createEntities-operation.json
  source/unified-test-format/tests/valid-pass/createEntities-operation.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

clarify clustered
  source/index-management.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

Revert automated formatting of schema-1.8.json
  source/unified-test-format/schema-1.8.json
Owners: @mongodb/dbx-spec-owners-unified-test-format

Refer to MongoClient entity as "client" rather than "MongoClient"
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Use "$$placeholder" instead of an empty document for placeholder values
  source/unified-test-format/schema-1.8.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-load-kms-credentials.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-load-kms-credentials.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-mixed-kms-credentials.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-placeholder-kms-credentials.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-placeholder-kms-credentials.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Fix "keyvault" -> "key vault"
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Split missing KMS credential fields test by provider
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-aws-kms-credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-aws-kms-credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-azure-kms-credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-azure-kms-credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-gcp-kms-credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-gcp-kms-credentials.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Rename "encryptedClient" entity to "clientEncryption"
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-aws-kms-credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-aws-kms-credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-azure-kms-credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-azure-kms-credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-gcp-kms-credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-gcp-kms-credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-no-kms.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-no-kms.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-explicit-kms-credentials.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-explicit-kms-credentials.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-mixed-kms-credentials.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-mixed-kms-credentials.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-placeholder-kms-credentials.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-placeholder-kms-credentials.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-unconfigured-kms.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-unconfigured-kms.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Add descriptive comments to clientEncryptionOpts test files
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-aws-kms-credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-azure-kms-credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing-gcp-kms-credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-no-kms.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-explicit-kms-credentials.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-mixed-kms-credential-fields.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-placeholder-kms-credentials.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-unconfigured-kms.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Rename "mixed-kms-credentials" -> "mixed-kms-credential-fields" for consistency
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-mixed-kms-credential-fields.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-mixed-kms-credential-fields.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Remove "tlsOptions" from document structure in favor of a note
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Rename tests with mixed casing
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_aws_kms_credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_aws_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_azure_kms_credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_azure_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_gcp_kms_credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_gcp_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-no_kms.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-no_kms.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-explicit_kms_credentials.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-explicit_kms_credentials.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-mixed_kms_credential_fields.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-mixed_kms_credential_fields.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-placeholder_kms_credentials.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-placeholder_kms_credentials.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-unconfigured_kms.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-unconfigured_kms.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Add invalid tests for new unified test format
  source/unified-test-format/tests/invalid/clientEncryption-missing_id.json
  source/unified-test-format/tests/invalid/clientEncryption-missing_id.yml
  source/unified-test-format/tests/invalid/clientEncryption-missing_keyVaultClient.json
  source/unified-test-format/tests/invalid/clientEncryption-missing_keyVaultClient.yml
  source/unified-test-format/tests/invalid/clientEncryption-missing_keyVaultNamespace.json
  source/unified-test-format/tests/invalid/clientEncryption-missing_keyVaultNamespace.yml
  source/unified-test-format/tests/invalid/clientEncryption-missing_kmsProviders.json
  source/unified-test-format/tests/invalid/clientEncryption-missing_kmsProviders.yml
  source/unified-test-format/tests/invalid/clientEncryptionOpts-tlsOptions_not_supported.json
  source/unified-test-format/tests/invalid/clientEncryptionOpts-tlsOptions_not_supported.yml
  source/unified-test-format/tests/invalid/kmsProviders-invalid_provider.json
  source/unified-test-format/tests/invalid/kmsProviders-invalid_provider.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Fix spec and tests so keyVaultClient is optional
  source/client-side-encryption/client-side-encryption.rst
  source/unified-test-format/schema-1.8.json
  source/unified-test-format/tests/invalid/clientEncryption-missing_client.json
  source/unified-test-format/tests/invalid/clientEncryption-missing_client.yml
  source/unified-test-format/tests/invalid/clientEncryption-missing_id.yml
  source/unified-test-format/tests/invalid/clientEncryption-missing_keyVaultNamespace.json
  source/unified-test-format/tests/invalid/clientEncryption-missing_keyVaultNamespace.yml
  source/unified-test-format/tests/invalid/clientEncryption-missing_kmsProviders.json
  source/unified-test-format/tests/invalid/clientEncryption-missing_kmsProviders.yml
  source/unified-test-format/tests/invalid/clientEncryptionOpts-tlsOptions_not_supported.json
  source/unified-test-format/tests/invalid/clientEncryptionOpts-tlsOptions_not_supported.yml
  source/unified-test-format/tests/invalid/kmsProviders-invalid_provider.json
  source/unified-test-format/tests/invalid/kmsProviders-invalid_provider.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_aws_kms_credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_aws_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_azure_kms_credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_azure_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_gcp_kms_credentials.json
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-missing_gcp_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/clientEncryptionOpts-no_kms.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-explicit_kms_credentials.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-explicit_kms_credentials.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-mixed_kms_credential_fields.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-mixed_kms_credential_fields.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-optional_keyVaultClient.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-optional_keyVaultClient.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-placeholder_kms_credentials.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-placeholder_kms_credentials.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-unconfigured_kms.json
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-unconfigured_kms.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-unified-test-format

Rename clientEncryptionOpts -> kmsProviders for kmsProviders schema tests
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_aws_kms_credentials.json
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_aws_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_azure_kms_credentials.json
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_azure_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_gcp_kms_credentials.json
  source/unified-test-format/tests/valid-fail/kmsProviders-missing_gcp_kms_credentials.yml
  source/unified-test-format/tests/valid-fail/kmsProviders-no_kms.json
  source/unified-test-format/tests/valid-fail/kmsProviders-no_kms.yml
  source/unified-test-format/tests/valid-pass/clientEncryptionOpts-placeholder_kms_credentials.json
  source/unified-test-format/tests/valid-pass/kmsProviders-explicit_kms_credentials.json
  source/unified-test-format/tests/valid-pass/kmsProviders-explicit_kms_credentials.yml
  source/unified-test-format/tests/valid-pass/kmsProviders-mixed_kms_credential_fields.json
  source/unified-test-format/tests/valid-pass/kmsProviders-mixed_kms_credential_fields.yml
  source/unified-test-format/tests/valid-pass/kmsProviders-placeholder_kms_credentials.json
  source/unified-test-format/tests/valid-pass/kmsProviders-placeholder_kms_credentials.yml
  source/unified-test-format/tests/valid-pass/kmsProviders-unconfigured_kms.json
  source/unified-test-format/tests/valid-pass/kmsProviders-unconfigured_kms.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Fix title level for new "$$placeholder" section
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Fix inconsistent description of new placeholder value
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

add minimum version to bulkWrite spec tests
  source/crud/tests/unified/bulkWrite-comment.json
  source/crud/tests/unified/bulkWrite-comment.yml
  source/crud/tests/unified/deleteMany-comment.json
  source/crud/tests/unified/deleteMany-comment.yml
  source/crud/tests/unified/deleteOne-comment.json
  source/crud/tests/unified/deleteOne-comment.yml
  source/crud/tests/unified/insertMany-comment.json
  source/crud/tests/unified/insertMany-comment.yml
  source/crud/tests/unified/insertOne-comment.json
  source/crud/tests/unified/insertOne-comment.yml
  source/crud/tests/unified/replaceOne-comment.json
  source/crud/tests/unified/replaceOne-comment.yml
  source/crud/tests/unified/updateMany-comment.json
  source/crud/tests/unified/updateMany-comment.yml
  source/crud/tests/unified/updateOne-comment.json
  source/crud/tests/unified/updateOne-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

add rationale for not requiring a major version bump
  source/crud/crud.rst
Owners: @mongodb/dbx-spec-owners-crud

add central link for `count` behavior
  source/crud/crud.rst
Owners: @mongodb/dbx-spec-owners-crud

fix rst syntax
  source/crud/crud.rst
Owners: @mongodb/dbx-spec-owners-crud

DRIVERS-2288: Forbid serverless for unified change stream tests (#1190)
  source/change-streams/tests/unified/change-streams-errors.json
  source/change-streams/tests/unified/change-streams-errors.yml
  source/change-streams/tests/unified/change-streams-pre_and_post_images.json
  source/change-streams/tests/unified/change-streams-pre_and_post_images.yml
  source/change-streams/tests/unified/change-streams-resume-allowlist.json
  source/change-streams/tests/unified/change-streams-resume-allowlist.yml
  source/change-streams/tests/unified/change-streams-resume-errorLabels.json
  source/change-streams/tests/unified/change-streams-resume-errorLabels.yml
  source/change-streams/tests/unified/change-streams.json
  source/change-streams/tests/unified/change-streams.yml
  source/unified-test-format/tests/valid-pass/poc-change-streams.json
  source/unified-test-format/tests/valid-pass/poc-change-streams.yml
Owners: @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-unified-test-format

Fix KMS provider in kmsProviders-invalid_kmip_property.yml
  source/unified-test-format/tests/invalid/kmsProviders-invalid_kmip_property.json
  source/unified-test-format/tests/invalid/kmsProviders-invalid_kmip_property.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2188 Skip comment error test on sharded
  source/crud/tests/unified/estimatedDocumentCount-comment.json
  source/crud/tests/unified/estimatedDocumentCount-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

DRIVERS-1967: Serverless testing uses load balancer fronting single proxy (#1186)
  source/retryable-reads/tests/README.rst
  source/retryable-writes/tests/README.rst
  source/serverless-testing/README.rst
  source/transactions/tests/README.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format

add minimum version to bulkWrite spec tests (#1191)
  source/crud/tests/unified/bulkWrite-comment.json
  source/crud/tests/unified/bulkWrite-comment.yml
  source/crud/tests/unified/deleteMany-comment.json
  source/crud/tests/unified/deleteMany-comment.yml
  source/crud/tests/unified/deleteOne-comment.json
  source/crud/tests/unified/deleteOne-comment.yml
  source/crud/tests/unified/insertMany-comment.json
  source/crud/tests/unified/insertMany-comment.yml
  source/crud/tests/unified/insertOne-comment.json
  source/crud/tests/unified/insertOne-comment.yml
  source/crud/tests/unified/replaceOne-comment.json
  source/crud/tests/unified/replaceOne-comment.yml
  source/crud/tests/unified/updateMany-comment.json
  source/crud/tests/unified/updateMany-comment.yml
  source/crud/tests/unified/updateOne-comment.json
  source/crud/tests/unified/updateOne-comment.yml
Owners: @mongodb/dbx-spec-owners-crud

Replace TBD in changelog date
  source/serverless-testing/README.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

Fix id for clientEncryption entities
  source/unified-test-format/tests/invalid/clientEncryption-invalid_property.json
  source/unified-test-format/tests/invalid/clientEncryption-invalid_property.yml
  source/unified-test-format/tests/invalid/clientEncryptionOpts-wrong_keyVaultClient_type.json
  source/unified-test-format/tests/invalid/clientEncryptionOpts-wrong_keyVaultClient_type.yml
  source/unified-test-format/tests/invalid/clientEncryptionOpts-wrong_keyVaultNamespace_type.json
  source/unified-test-format/tests/invalid/clientEncryptionOpts-wrong_keyVaultNamespace_type.yml
  source/unified-test-format/tests/invalid/clientEncryptionOpts-wrong_kmsProviders_type.json
  source/unified-test-format/tests/invalid/clientEncryptionOpts-wrong_kmsProviders_type.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

Revert modification of CSE spec
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Update version and change log for unified test format spec
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Include replacement failure among error conditions for placeholder value
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Permit flexible values for "$$placeholder"
  source/unified-test-format/schema-1.8.json
  source/unified-test-format/tests/valid-pass/kmsProviders-mixed_kms_credential_fields.json
  source/unified-test-format/tests/valid-pass/kmsProviders-mixed_kms_credential_fields.yml
  source/unified-test-format/tests/valid-pass/kmsProviders-placeholder_kms_credentials.json
  source/unified-test-format/tests/valid-pass/kmsProviders-placeholder_kms_credentials.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Add "$$placeholder" to changelog
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

Remove inapplicable invalid tests due to revision of "client" -> "keyVaultClient"
  source/unified-test-format/tests/invalid/clientEncryption-missing_client.json
  source/unified-test-format/tests/invalid/clientEncryption-missing_client.yml
  source/unified-test-format/tests/invalid/clientEncryption-wrong_client_type.json
  source/unified-test-format/tests/invalid/clientEncryption-wrong_client_type.yml
Owners: @mongodb/dbx-spec-owners-unified-test-format

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership
