Repository mongodb/specifications, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-apm, @mongodb/dbx-spec-owners-auth, @mongodb/dbx-spec-owners-change-streams, @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-crud, @mongodb/dbx-spec-owners-retryability, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-server-selection, @mongodb/dbx-spec-owners-sessions, @mongodb/dbx-spec-owners-transactions, @mongodb/dbx-spec-owners-unified-test-format, @mongodb/dbx-spec-owners-uri-options, @mongodb/dbx-leadership

.github/CODEOWNERS:

# Unowned specs
* @mongodb/dbx-spec-reviewers-unowned

# APM
/source/command-monitoring/ @mongodb/dbx-spec-owners-apm

# Authentication
/source/auth/ @mongodb/dbx-spec-owners-auth

# Change Streams
/source/change-streams/ @mongodb/dbx-spec-owners-change-streams

# Client Side Encryption
/source/client-side-encryption/ @mongodb/dbx-spec-owners-fle

# CMAP
/source/connection-monitoring-and-pooling/ @mongodb/dbx-spec-owners-cmap

# CRUD
/source/crud/ @mongodb/dbx-spec-owners-crud
/source/driver-bulk-update.rst @mongodb/dbx-spec-owners-crud

# Retryability
/source/retryable-reads/ @mongodb/dbx-spec-owners-retryability
/source/retryable-writes/ @mongodb/dbx-spec-owners-retryability

# SDAM
/source/server-discovery-and-monitoring/ @mongodb/dbx-spec-owners-sdam

# Server Selection
/source/server-selection/ @mongodb/dbx-spec-owners-server-selection

# Sessions
/source/sessions/ @mongodb/dbx-spec-owners-sessions

# Transactions
/source/transactions/ @mongodb/dbx-spec-owners-transactions
/source/transactions-convenient-api/ @mongodb/dbx-spec-owners-transactions

# Unified Test Format
/source/unified-test-format/ @mongodb/dbx-spec-owners-unified-test-format

# URI Options
/source/uri-options/ @mongodb/dbx-spec-owners-uri-options

# Workflows and code ownership file
/.github/ @mongodb/dbx-leadership

address comments on general spec
  source/command-logging-and-monitoring/command-logging-and-monitoring.rst
  source/command-logging-and-monitoring/tests/README.rst
  source/logging/logging.rst
  source/unified-test-format/schema-1.11.json
Owners: @mongodb/dbx-spec-reviewers-unowned, @mongodb/dbx-spec-owners-unified-test-format

add type assertions to tests
  source/command-logging-and-monitoring/tests/logging/command.json
  source/command-logging-and-monitoring/tests/logging/command.yml
  source/command-logging-and-monitoring/tests/logging/driver-connection-id.json
  source/command-logging-and-monitoring/tests/logging/driver-connection-id.yml
  source/command-logging-and-monitoring/tests/logging/operation-id.json
  source/command-logging-and-monitoring/tests/logging/operation-id.yml
  source/command-logging-and-monitoring/tests/logging/server-connection-id.json
  source/command-logging-and-monitoring/tests/logging/server-connection-id.yml
  source/command-logging-and-monitoring/tests/logging/service-id.json
  source/command-logging-and-monitoring/tests/logging/service-id.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

fix link
  source/command-logging-and-monitoring/command-logging-and-monitoring.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

unstuctured -> unstructured
  source/command-logging-and-monitoring/command-logging-and-monitoring.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

Apply suggestions from code review
  source/logging/logging.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

drivers must omit null values from messages
  source/command-logging-and-monitoring/command-logging-and-monitoring.rst
  source/logging/logging.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

fix rst
  source/logging/logging.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

fix operationId test
  source/command-logging-and-monitoring/tests/logging/operation-id.json
  source/command-logging-and-monitoring/tests/logging/operation-id.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

Update test.
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.json
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

Update source/connection-monitoring-and-pooling/connection-monitoring-and-pooling.rst
  source/connection-monitoring-and-pooling/connection-monitoring-and-pooling.rst
Owners: @mongodb/dbx-spec-owners-cmap

Code review
  source/connection-monitoring-and-pooling/connection-monitoring-and-pooling.rst
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupt-immediately.json
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupt-immediately.yml
Owners: @mongodb/dbx-spec-owners-cmap

yml formatting.
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

DRIVERS-2402: Clarify the behavior of comments on pre-4.4 servers (#1294)
  source/enumerate-collections.rst
  source/enumerate-databases.rst
  source/enumerate-indexes.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

fix object in operationId test
  source/command-logging-and-monitoring/tests/logging/operation-id.json
  source/command-logging-and-monitoring/tests/logging/operation-id.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

remove `pool-clear-interrupt-in-use`
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupt-in-use.json
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupt-in-use.yml
Owners: @mongodb/dbx-spec-owners-cmap

Code review
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.json
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

Formatting.
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

Rewording.
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.yml
Owners: @mongodb/dbx-spec-owners-sdam

add tests for no handshake and no heartbeat messages being emitted
  source/command-logging-and-monitoring/tests/logging/no-handshake-messages.json
  source/command-logging-and-monitoring/tests/logging/no-handshake-messages.yml
  source/command-logging-and-monitoring/tests/logging/no-heartbeat-messages.json
  source/command-logging-and-monitoring/tests/logging/no-heartbeat-messages.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

only run heartbeat test on non-LB topology; reorder ops
  source/command-logging-and-monitoring/tests/logging/no-heartbeat-messages.json
  source/command-logging-and-monitoring/tests/logging/no-heartbeat-messages.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

update rationale for not requiring structured logging
  source/logging/logging.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

update prose test to reflect it applies to any driver with a max length unit besides codepoint
  source/command-logging-and-monitoring/tests/README.rst
  source/logging/logging.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

fix emphasis
  source/logging/logging.rst
Owners: @mongodb/dbx-spec-reviewers-unowned

Update source/server-discovery-and-monitoring/server-monitoring.rst
  source/server-discovery-and-monitoring/server-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam

Code review.
  source/connection-monitoring-and-pooling/connection-monitoring-and-pooling.rst
Owners: @mongodb/dbx-spec-owners-cmap

Code review.
  source/connection-monitoring-and-pooling/connection-monitoring-and-pooling.rst
Owners: @mongodb/dbx-spec-owners-cmap

DRIVERS-1707: Preemptively cancel in progress operations when SDAM heartbeats timeout. (#1170)
  source/connection-monitoring-and-pooling/connection-monitoring-and-pooling.rst
  source/connection-monitoring-and-pooling/tests/README.rst
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupt-immediately.json
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupt-immediately.yml
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupting-pending-connections.json
  source/connection-monitoring-and-pooling/tests/pool-clear-interrupting-pending-connections.yml
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run-interruptInUseConnections-false.json
  source/connection-monitoring-and-pooling/tests/pool-clear-schedule-run-interruptInUseConnections-false.yml
  source/server-discovery-and-monitoring/server-monitoring.rst
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.json
  source/server-discovery-and-monitoring/tests/unified/interruptInUse-pool-clear.yml
  source/unified-test-format/schema-1.11.json
  source/unified-test-format/tests/invalid/expectedCmapEvent-poolClearedEvent-interruptInUseConnections-type.json
  source/unified-test-format/tests/invalid/expectedCmapEvent-poolClearedEvent-interruptInUseConnections-type.yml
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-cmap, @mongodb/dbx-spec-owners-sdam, @mongodb/dbx-spec-owners-unified-test-format

Do not connect to mongocryptd if shared library is loaded
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

Tweaks from comments
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

rST fixes
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-unified-test-format

More rST fixes
  source/client-side-encryption/tests/README.rst
Owners: @mongodb/dbx-spec-owners-fle

Cache automatically obtained Azure tokens
  source/client-side-encryption/client-side-encryption.rst
Owners: @mongodb/dbx-spec-owners-fle

[DRIVERS-2411] Add behavior for automatic Azure KMS credentials (#1291)
  source/client-side-encryption/client-side-encryption.rst
  source/client-side-encryption/tests/README.rst
  source/unified-test-format/unified-test-format.rst
Owners: @mongodb/dbx-spec-owners-fle, @mongodb/dbx-spec-owners-unified-test-format

schema version should be 1.12
  source/unified-test-format/schema-1.12.json
Owners: @mongodb/dbx-spec-owners-unified-test-format

bump test file schema versions
  source/command-logging-and-monitoring/tests/logging/command.json
  source/command-logging-and-monitoring/tests/logging/command.yml
  source/command-logging-and-monitoring/tests/logging/driver-connection-id.json
  source/command-logging-and-monitoring/tests/logging/driver-connection-id.yml
  source/command-logging-and-monitoring/tests/logging/no-handshake-messages.json
  source/command-logging-and-monitoring/tests/logging/no-handshake-messages.yml
  source/command-logging-and-monitoring/tests/logging/no-heartbeat-messages.json
  source/command-logging-and-monitoring/tests/logging/no-heartbeat-messages.yml
  source/command-logging-and-monitoring/tests/logging/operation-id.json
  source/command-logging-and-monitoring/tests/logging/operation-id.yml
  source/command-logging-and-monitoring/tests/logging/pre-42-server-connection-id.json
  source/command-logging-and-monitoring/tests/logging/pre-42-server-connection-id.yml
  source/command-logging-and-monitoring/tests/logging/redacted-commands.json
  source/command-logging-and-monitoring/tests/logging/redacted-commands.yml
  source/command-logging-and-monitoring/tests/logging/server-connection-id.json
  source/command-logging-and-monitoring/tests/logging/server-connection-id.yml
  source/command-logging-and-monitoring/tests/logging/service-id.json
  source/command-logging-and-monitoring/tests/logging/service-id.yml
Owners: @mongodb/dbx-spec-reviewers-unowned

add interruptInUseConnections to schema v1.12
  source/unified-test-format/schema-1.12.json
Owners: @mongodb/dbx-spec-owners-unified-test-format

DRIVERS-2412: add pre 6.0 condition to stale primary logic
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
  source/server-discovery-and-monitoring/tests/README.rst
  source/server-discovery-and-monitoring/tests/rs/electionId_precedence_setVersion.json
  source/server-discovery-and-monitoring/tests/rs/electionId_precedence_setVersion.yml
  source/server-discovery-and-monitoring/tests/rs/null_election_id-pre-6.0.json
  source/server-discovery-and-monitoring/tests/rs/null_election_id-pre-6.0.yml
  source/server-discovery-and-monitoring/tests/rs/null_election_id.json
  source/server-discovery-and-monitoring/tests/rs/secondary_ignore_ok_0-pre-6.0.json
  source/server-discovery-and-monitoring/tests/rs/secondary_ignore_ok_0-pre-6.0.yml
  source/server-discovery-and-monitoring/tests/rs/set_version_can_rollback.yml
  source/server-discovery-and-monitoring/tests/rs/setversion_equal_max_without_electionid.json
  source/server-discovery-and-monitoring/tests/rs/setversion_equal_max_without_electionid.yml
  source/server-discovery-and-monitoring/tests/rs/setversion_greaterthan_max_without_electionid.json
  source/server-discovery-and-monitoring/tests/rs/setversion_without_electionid-pre-6.0.json
  source/server-discovery-and-monitoring/tests/rs/setversion_without_electionid-pre-6.0.yml
  source/server-discovery-and-monitoring/tests/rs/use_setversion_without_electionid-pre-6.0.json
  source/server-discovery-and-monitoring/tests/rs/use_setversion_without_electionid-pre-6.0.yml
  source/server-discovery-and-monitoring/tests/rs/use_setversion_without_electionid.json
  source/server-discovery-and-monitoring/tests/rs/use_setversion_without_electionid.yml
Owners: @mongodb/dbx-spec-owners-sdam

fix: typo in test header
  source/server-discovery-and-monitoring/server-discovery-and-monitoring-tests.rst
Owners: @mongodb/dbx-spec-owners-sdam

fix: typo in test header (#1310)
  source/server-discovery-and-monitoring/server-discovery-and-monitoring-tests.rst
Owners: @mongodb/dbx-spec-owners-sdam

fix code formatting
  source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst
Owners: @mongodb/dbx-spec-owners-sdam
